In [295]:
import re
import us
import feather
import pandas as pd
import gender_guesser.detector as d
import numpy as np
from nameparser import HumanName

In [179]:
states = {
        'AK': 'Alaska',
        'AL': 'Alabama',
        'AR': 'Arkansas',
        'AS': 'American Samoa',
        'AZ': 'Arizona',
        'CA': 'California',
        'CO': 'Colorado',
        'CT': 'Connecticut',
        'DC': 'District of Columbia',
        'DE': 'Delaware',
        'FL': 'Florida',
        'GA': 'Georgia',
        'GU': 'Guam',
        'HI': 'Hawaii',
        'IA': 'Iowa',
        'ID': 'Idaho',
        'IL': 'Illinois',
        'IN': 'Indiana',
        'KS': 'Kansas',
        'KY': 'Kentucky',
        'LA': 'Louisiana',
        'MA': 'Massachusetts',
        'MD': 'Maryland',
        'ME': 'Maine',
        'MI': 'Michigan',
        'MN': 'Minnesota',
        'MO': 'Missouri',
        'MP': 'Northern Mariana Islands',
        'MS': 'Mississippi',
        'MT': 'Montana',
        'NA': 'National',
        'NC': 'North Carolina',
        'ND': 'North Dakota',
        'NE': 'Nebraska',
        'NH': 'New Hampshire',
        'NJ': 'New Jersey',
        'NM': 'New Mexico',
        'NV': 'Nevada',
        'NY': 'New York',
        'OH': 'Ohio',
        'OK': 'Oklahoma',
        'OR': 'Oregon',
        'PA': 'Pennsylvania',
        'PR': 'Puerto Rico',
        'RI': 'Rhode Island',
        'SC': 'South Carolina',
        'SD': 'South Dakota',
        'TN': 'Tennessee',
        'TX': 'Texas',
        'UT': 'Utah',
        'VA': 'Virginia',
        'VI': 'Virgin Islands',
        'VT': 'Vermont',
        'WA': 'Washington',
        'WI': 'Wisconsin',
        'WV': 'West Virginia',
        'WY': 'Wyoming'
}

In [180]:
kevin = feather.read_dataframe('data/cleaned_train_Kevin.feather')
kevin['year'] = kevin['raceyear'].apply(int)
kevin['district'] = kevin['district'].apply(int)
kevin = kevin.drop(columns='raceyear')

In [181]:
kevin

,state,district,repcandidate,demcandidate,rep_score,rep_incumbent,dem_incumbent,state_fips,minority_percentage,pres_approval,same_as_pres_party_rep,same_as_pres_party_dem,log_med_income,percent_bachelor_or_above,year
0,Alabama,2,"Roby, Martha","Mathis, Nathan",0.5462,True,False,1,0.36979,0.40,False,True,10.646258,0.218,2016
1,Kansas,4,"Pompeo, Mike","Giroux, Daniel B.",0.6720,True,False,20,0.17527,0.40,False,True,10.860037,0.282,2016
2,California,5,"Santamaria, Carlos","Thompson, Mike",0.2313,False,True,6,0.37847,0.60,False,True,11.198297,0.304,2016
3,California,4,"McClintock, Tom","Derlet, Robert W.",0.6272,True,False,6,0.15606,0.60,False,True,11.212820,0.322,2016
4,California,3,"Cleek, N. Eugene","Garamendi, John",0.4065,False,True,6,0.33472,0.60,False,True,11.026923,0.245,2016
5,California,2,"Mensing, Dale K.","Huffman, Jared",0.2315,False,True,6,0.20327,0.60,False,True,11.106520,0.400,2016
6,California,1,"LaMalfa, Doug","Reed, Jim",0.5905,True,False,6,0.12946,NaN,None,True,10.768232,0.232,2016
7,New Hampshire,1,"Guinta, Frank C.","Shea-Porter, Carol",0.4923,True,False,33,0.06590,0.46,False,True,11.174329,0.361,2016
8,New Hampshire,2,"Lawrence, James","Kuster, Ann McLane",0.4767,False,True,33,0.06542,0.46,False,True,11.163708,0.348,2016
9,Kentucky,6,"Barr, Garland","Kemper, Nancy Jo",0.6109,True,False,21,0.15217,0.36,False,True,10.832872,0.303,2016
10,Kentucky,4,"Massie, Thomas","Sidle, Calvin",0.7132,True,False,21,0.08070,0.36,False,True,11.017185,0.266,2016
11,Kentucky,3,"Bratcher, Harold","Yarmuth, John",0.3650,False,True,21,0.28353,0.36,False,True,10.840953,0.310,2016
12,Kentucky,1,"Comer, James R.","Gaskins, Sam",0.7264,False,False,21,0.10874,0.36,False,True,10.602940,0.159,2016
13,New Jersey,1,"Patterson, Bob","Norcross, Donald",0.3802,False,True,34,0.32151,0.55,False,True,11.130317,0.299,2016
14,California,7,"Jones, Scott R.","Bera, Ami",0.4883,False,True,6,0.36912,0.60,False,True,11.138014,0.326,2016
15,New Jersey,2,"LoBiondo, Frank A.","Cole, David H.",0.6140,True,False,34,0.24616,0.55,False,True,11.014621,0.248,2016
16,New Jersey,3,"MacArthur, Tom","Lavergne, Frederick John",0.6041,True,False,34,0.20325,0.55,False,None,11.219051,0.328,2016
17,New Jersey,4,"Smith, Christopher H.","Phillipson, Lorna",0.6553,True,False,34,0.15310,0.55,False,True,11.270994,0.385,2016
18,New Jersey,5,"Garrett, Scott","Gottheimer, Joshua S.",0.4774,True,False,34,0.20487,0.55,False,True,11.515113,0.462,2016
19,New Jersey,6,"Sonnek-Schmelz, Brent","Pallone, Frank Jr.",0.3538,False,True,34,0.36267,0.55,False,True,11.280098,0.384,2016
20,New Jersey,7,"Lance, Leonard","Jacob, Peter",0.5564,True,False,34,0.21178,0.55,False,True,11.579612,0.514,2016
21,New Jersey,8,"Khan, Agha","Sires, Albio",0.1936,False,True,34,0.42608,0.55,False,True,10.957643,0.308,2016
22,New Jersey,9,"Castillo, Hector L.","Pascrell, William J. Jr.",0.2867,False,True,34,0.37801,0.55,False,True,11.081589,0.327,2016
23,New Jersey,10,"Pinckney, David H.","Payne, Donald M. Jr.",0.1217,False,True,34,0.70983,0.55,False,None,10.821776,0.276,2016
24,New Jersey,11,"Frelinghuysen, Rodney","Wenzel, Joseph M.",0.5988,True,False,34,0.18036,0.55,False,True,11.592291,0.521,2016
25,New Jersey,12,"Uccio, Steven J.","Coleman, Bonnie Watson",0.3375,False,True,34,0.40598,0.55,False,True,11.359121,0.436,2016
26,California,6,"Evans, Robert H. Jr.","Matsui, Doris",0.2457,False,True,6,0.47646,0.60,False,True,10.857690,0.268,2016
27,California,8,"Cook, Paul","Ramirez, Rita",0.6226,True,False,6,0.24169,0.60,False,True,10.803527,0.160,2016
28,New Mexico,3,"Romero, Michael H.","Lujan, Ben Ray",0.3758,False,True,35,0.34684,0.49,False,True,10.803852,0.271,2016
29,California,24,"Fareed, Justin","Carbajal, Salud",0.4658,False,False,6,0.20405,0.60,False,True,11.140832,0.330,2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9361,Maryland,7,"Downs, Arthur W.","Friedel, Samuel N.",0.2038,False,True,24,NaN,NaN,None,None,NaN,NaN,1968
9362,Maryland,6,"Beall, John Glenn Jr.","Byron, Goodloe E.",0.5300,False,False,24,NaN,NaN,None,None,NaN,NaN,1968
9363,Maryland,5,"Hogan, Lawrence J.","Machen, Hervey G.",0.5272,False,True,24,NaN,NaN,None,None,NaN,NaN,1968
9364,Maryland,4,"Raimondi, Thomas P.","Fallon, George Hyde",0.3441,False,True,24,NaN,NaN,None,None,NaN,NaN,1968
9365,Maryland,3,"Chew, James E.","Garmatz, Edward A.",0.1875,False,True,24,NaN,NaN,None,None,NaN,NaN,1968
9366,Maryland,2,"Mudd, John E.","Long, Clarence D.",0.4094,False,True,24,NaN,NaN,None,None,NaN,NaN,1968
9367,Maryland,1,"Morton, Rogers C. B.","White, E. Homer",0.7359,True,False,24,NaN,NaN,None,None,NaN,NaN,1968
9368,Maine,2,"Shute, Elden H.","Hathaway, William D.",0.4429,False,True,23,NaN,NaN,None,None,NaN,NaN,1968
9369,Maine,1,"Hildreth, Horace A.","Kyros, Peter N.",0.4338,False,True,23,NaN,NaN,None,None,NaN,NaN,1968
9370,Louisiana,7,"Planche, Vance W.","Edwards, Edwin W.",0.1505,False,True,22,NaN,NaN,None,None,NaN,NaN,1968
9371,Louisiana,6,"Rockhold, Loyd","Rarick, John R.",0.2073,False,True,22,NaN,NaN,None,None,NaN,NaN,1968
9372,Massachusetts,5,"Morse, F. Bradford","Maguire, Robert C.",0.6041,True,False,25,NaN,NaN,None,None,NaN,NaN,1968
9373,Massachusetts,6,"Bates, William H.","Henderson, Deirdre",0.6608,True,False,25,NaN,NaN,None,None,NaN,NaN,1968
9374,Massachusetts,7,"Abbott, William S.","MacDonald, Torbert H.",0.3748,False,False,25,NaN,NaN,None,None,NaN,NaN,1968
9375,Michigan,5,"Ford, Gerald R.","Howard, Laurence E.",0.6281,True,False,26,NaN,NaN,None,None,NaN,NaN,1968
9376,Michigan,11,"Ruppe, Philip E.","Clevenger, Raymond F.",0.5879,False,False,26,NaN,NaN,None,None,NaN,NaN,1968
9377,Michigan,10,"Cederberg, Elford A.","Miller, Wayne",0.6593,True,False,26,NaN,NaN,None,None,NaN,NaN,1968
9378,Michigan,9,"Vander Jagt, Guy","Wabeke, Jay A.",0.6747,True,False,26,NaN,NaN,None,None,NaN,NaN,1968
9379,Michigan,8,"Harvey, James","Davies, Richard E.",0.6884,True,False,26,NaN,NaN,None,None,NaN,NaN,1968
9380,Michigan,7,"Riegle, Donald Wayne Jr.","Blue, William R.",0.6066,False,False,26,NaN,NaN,None,None,NaN,NaN,1968
9381,Michigan,6,"Chamberlain, C. E.","Harrison, James A.",0.6413,False,False,26,NaN,NaN,None,None,NaN,NaN,1968
9382,Michigan,4,"Hutchinson, Edward","Martin, John V.",0.6563,True,False,26,NaN,NaN,None,None,NaN,NaN,1968
9383,Massachusetts,9,"Freeman, Alan C.","McCormack, John W.",0.1706,False,True,25,NaN,NaN,None,None,NaN,NaN,1968
9384,Michigan,3,"Brown, Garry","Keenan, Thomas L.",0.6516,True,False,26,NaN,NaN,None,None,NaN,NaN,1968
9385,Michigan,2,"Esch, Marvin L.","Vivian, Weston E.",0.5476,True,False,26,NaN,NaN,None,None,NaN,NaN,1968
9386,South Carolina,5,"Boyd, Hugh J.","Gettys, Tom S.",0.2259,False,False,45,NaN,NaN,None,None,NaN,NaN,1968
9387,Utah,1,"Burton, Laurence J.","Maughan, Richard J.",0.6812,True,False,49,NaN,NaN,None,None,NaN,NaN,1968
9388,Utah,2,"Lloyd, Sherman P.","Ross, Galen J.",0.6165,True,False,49,NaN,NaN,None,None,NaN,NaN,1968
9389,Massachusetts,10,"Heckler, Margaret M.","Dinis, Edmund",0.6737,True,False,25,NaN,NaN,None,None,NaN,NaN,1968
9390,Wyoming,0,"Wold, John S.","Linford, Velma",0.6274,False,False,56,NaN,NaN,None,None,NaN,NaN,1968

# 1, 4, 6, 10, 12, 13

In [355]:
# 1: percentage vote for democrat candidate in prev pres election
df1 = pd.read_csv('data/1_Scott&Akshay.csv')
df1 = df1.drop([445, 891, 1782]).reset_index(drop=True) # STATE_CD is NaN
vs = [re.split(r'(\d+)', str(s))[:-1] for s in list(df1['STATE_CD'])]
df1['state_fips'] = [int(us.states.lookup(x[0].strip()).fips) for x in vs]
df1['district'] = [int(x[1]) for x in vs]
df1 = df1.drop(columns=['Unnamed: 0', 'STATE_CD'])
df1['year'] = df1['year'].apply(int)
df1

      year  dem_percent  state_fips  district
0     2014     0.381725           1         1
1     2014     0.419044           1         2
2     2014     0.468938           1         3
3     2014     0.224703           1         4
4     2014     0.356304           1         5
5     2014     0.420412           1         6
6     2014     0.528870           1         7
7     2014     0.433689           4         1
8     2014     0.429787           4         2
9     2014     0.438798           4         3
10    2014     0.438798           4         4
11    2014     0.438798           4         5
12    2014     0.436733           4         6
13    2014     0.457491           4         7
14    2014     0.497771           4         8
15    2014          NaN           4         9
16    2014     0.363115           5         1
17    2014     0.436438           5         2
18    2014     0.321825           5         3
19    2014     0.389009           5         4
20    2014     0.685784           6         1
21    2014     0.466282           6         2
22    2014     0.587945           6         3
23    2014     0.507321           6         4
24    2014     0.583663           6         5
25    2014     0.741492           6         6
26    2014     0.664042           6         7
27    2014     0.862633           6         8
28    2014     0.807659           6         9
29    2014     0.697937           6        10
...    ...          ...         ...       ...
2195  2012          NaN          51         3
2196  2012          NaN          51         4
2197  2012     0.377302          51         5
2198  2012          NaN          51         6
2199  2012          NaN          51         7
2200  2012          NaN          51         8
2201  2012          NaN          51         9
2202  2012          NaN          51        10
2203  2012          NaN          51        11
2204  2012          NaN          53         1
2205  2012          NaN          53         2
2206  2012     0.327091          53         3
2207  2012     0.238579          53         4
2208  2012     0.455270          53         5
2209  2012     0.495401          53         6
2210  2012          NaN          53         7
2211  2012          NaN          53         8
2212  2012          NaN          53         9
2213  2012          NaN          53        10
2214  2012     0.576315          54         1
2215  2012     0.522985          54         2
2216  2012     0.550794          54         3
2217  2012          NaN          55         1
2218  2012          NaN          55         2
2219  2012          NaN          55         3
2220  2012          NaN          55         4
2221  2012          NaN          55         5
2222  2012          NaN          55         6
2223  2012          NaN          55         7
2224  2012          NaN          55         8

[2225 rows x 4 columns]

In [365]:
df1 = df1.dropna()

In [402]:
joon.T

,0,1,2,3,4,5,6,7,8,9,...,9816,9817,9818,9819,9820,9821,9822,9823,9824,9825
state,Alabama,Kansas,California,California,California,California,California,New Hampshire,New Hampshire,Kentucky,...,Wisconsin,Wisconsin,Wisconsin,Wisconsin,Wisconsin,Wisconsin,West Virginia,West Virginia,West Virginia,Wyoming
district,2,4,5,4,3,2,1,1,2,6,...,6,5,4,3,2,1,3,2,1,0
rep_score,0.5462,0.672,0.2313,0.6272,0.4065,0.2315,0.5905,0.4923,0.4767,0.6109,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
rep_incumbent,True,True,False,True,False,False,True,True,False,True,...,True,True,False,False,False,False,False,True,True,True
dem_incumbent,False,False,True,False,True,True,False,False,True,False,...,False,False,True,True,True,False,False,False,False,False
state_fips,1,20,6,6,6,6,6,33,33,21,...,55,55,55,55,55,55,54,54,54,56
minority_percentage,0.36979,0.17527,0.37847,0.15606,0.33472,0.20327,0.12946,0.0659,0.06542,0.15217,...,0.07195,0.08459,0.49707,0.06477,0.14327,0.1289,0.06457,0.08572,0.05727,0.07973
pres_approval,0.4,0.4,0.6,0.6,0.6,0.6,NaN,0.46,0.46,0.36,...,0.56,0.56,0.56,0.56,0.56,0.56,0.33,0.33,0.33,0.34
same_as_pres_party_rep,False,False,False,False,False,False,None,False,False,False,...,True,True,True,True,True,True,True,True,True,True
same_as_pres_party_dem,True,True,True,True,True,True,True,True,True,True,...,False,False,False,False,False,False,False,False,False,False
log_med_income,10.6463,10.86,11.1983,11.2128,11.0269,11.1065,10.7682,11.1743,11.1637,10.8329,...,10.9531,11.1296,10.641,10.862,11.0912,11.0282,10.5382,10.7864,10.7279,11.0001
percent_bachelor_or_above,0.218,0.282,0.304,0.322,0.245,0.4,0.232,0.361,0.348,0.303,...,0.252,0.357,0.271,0.243,0.402,0.273,0.156,0.212,0.218,0.26
fivethirtyeight_district,None,None,None,None,None,None,None,None,None,None,...,6,5,4,3,2,1,3,2,1,1
year,2016,2016,2016,2016,2016,2016,2016,2016,2016,2016,...,2018,2018,2018,2018,2018,2018,2018,2018,2018,2018
dem_firstname,Nathan,Daniel,Mike,Robert,John,Jared,Jim,Carol,Ann,Nancy,...,Dan,Tom,Gwen,Ron,Mark,Randy,Richard,Talley,Kendra,Greg
dem_lastname,Mathis,Giroux,Thompson,Derlet,Garamendi,Huffman,Reed,Shea-Porter,Kuster,Kemper,...,Kohl,Palzewicz,Moore,Kind,Pocan,Bryce,Ojeda,Sergent,Fershee,Hunter
rep_firstname,Martha,Mike,Carlos,Tom,Eugene,Dale,Doug,Frank,James,Garland,...,Glenn,James,Tim,Steve,NaN,Bryan,Carol,Alex,David,Liz
rep_lastname,Roby,Pompeo,Santamaria,McClintock,Cleek,Mensing,LaMalfa,Guinta,Lawrence,Barr,...,Grothman,Sensenbrenner,Rogers,Toft,NaN,Steil,Miller,Mooney,McKinley,Cheney
dem_uncontested,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
rep_uncontested,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
dem_is_female,0,0,0,0,0,0,0,1,1,1,...,0,0,1,0,0,0,0,0.5,1,0
rep_is_female,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0.5,0,1,0,0,1
dem_percent,0.419044,0.368991,0.583663,0.507321,0.587945,0.466282,0.685784,0.511558,0.524789,0.415319,...,NaN,NaN,NaN,NaN,NaN,NaN,0.242854,0.30856,0.27954,NaN

In [367]:
joon = kevin.merge(df1, on=['year', 'state_fips', 'district'], how='left')

In [399]:
joon[joon['year'] >= 2010][['state', 'state_fips', 'district', 'year', 'dem_percent']].sort_values(by=['state_fips', 'district', 'year'],
                                                                             ascending=[1, 1, 0])

           state  state_fips  district  year  dem_percent
9398     Alabama           1         1  2018     0.352134
674      Alabama           1         1  2014     0.381725
9397     Alabama           1         2  2018     0.380884
0        Alabama           1         2  2016     0.419044
677      Alabama           1         2  2014     0.419044
1076     Alabama           1         2  2012     0.407024
1297     Alabama           1         2  2010     0.407024
9396     Alabama           1         3  2018     0.404996
126      Alabama           1         3  2016     0.468938
687      Alabama           1         3  2014     0.468938
1075     Alabama           1         3  2012     0.456925
1296     Alabama           1         3  2010     0.456925
9395     Alabama           1         4  2018     0.215546
1074     Alabama           1         4  2012     0.239856
9394     Alabama           1         5  2018     0.326284
294      Alabama           1         5  2016     0.356304
1064     Alabama           1         5  2012     0.369057
1295     Alabama           1         5  2010     0.369057
9393     Alabama           1         6  2018     0.424079
293      Alabama           1         6  2016     0.420412
688      Alabama           1         6  2014     0.420412
1095     Alabama           1         6  2012     0.425702
9392     Alabama           1         7  2018     0.545119
1065     Alabama           1         7  2012     0.522854
1325     Alabama           1         7  2010     0.522854
9391      Alaska           2         0  2018          NaN
267       Alaska           2         0  2016          NaN
602       Alaska           2         0  2014          NaN
1098      Alaska           2         0  2012          NaN
1333      Alaska           2         0  2010          NaN
...          ...         ...       ...   ...          ...
611     Arkansas           5         1  2014     0.363115
1105    Arkansas           5         1  2012     0.386129
1442    Arkansas           5         1  2010     0.386129
9401    Arkansas           5         2  2018     0.443015
104     Arkansas           5         2  2016     0.436438
612     Arkansas           5         2  2014     0.436438
1104    Arkansas           5         2  2012     0.447858
1443    Arkansas           5         2  2010     0.447858
9400    Arkansas           5         3  2018     0.321383
1444    Arkansas           5         3  2010     0.343305
9399    Arkansas           5         4  2018     0.321191
613     Arkansas           5         4  2014     0.389009
1103    Arkansas           5         4  2012     0.404828
1445    Arkansas           5         4  2010     0.404828
9464  California           6         1  2018     0.414818
6     California           6         1  2016     0.685784
627   California           6         1  2014     0.685784
1119  California           6         1  2012     0.704198
1502  California           6         1  2010     0.704198
9453  California           6         2  2018     0.749411
5     California           6         2  2016     0.466282
626   California           6         2  2014     0.466282
1120  California           6         2  2012     0.491595
1503  California           6         2  2010     0.491595
9442  California           6         3  2018     0.624306
4     California           6         3  2016     0.587945
625   California           6         3  2014     0.587945
1121  California           6         3  2012     0.595003
1508  California           6         3  2010     0.595003
9431  California           6         4  2018     0.471880

[100 rows x 5 columns]

In [498]:
final = joon

## BACKFILL

In [499]:
# backfill logic
state_fips = joon['state_fips'].unique()
for fip in state_fips:
    state_data = joon[joon['state_fips'] == fip]
    districts = state_data['district'].unique()
    for district in districts:
        district_data = state_data[state_data['district'] == district]
        dem_percent = district_data[['year', 'dem_percent']].sort_values(by=['year'], ascending=[0])
        dp = dem_percent.fillna(method='ffill')
        if dp.isnull().values.any(): # no value to forward-fill
            dp['dem_percent'] = [prior[fip]] * len(dp)
        final.iloc[dp.index]['dem_percent'] = dp['dem_percent']

/Users/joonyang/code/.virtualenvs/orca/lib/python3.7/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()

In [438]:
prior = pd.read_csv('data/2016_republican_lean_percent.csv', encoding='utf-8')
prior['state_fips'] = [int(us.states.lookup(x.strip()).fips) for x in list(prior['state'])]
prior['dem_percent'] = prior['rep_percent'].apply(lambda x: 1 - float(x)/100)
prior = prior.set_index(keys=['state_fips'])
prior = prior.drop(columns=['state', 'rep_percent']).to_dict()['dem_percent']

In [496]:
joon['dem_percent'].isna().sum()

8430

In [509]:
final[final['state_fips'] == 2]

,state,district,rep_score,rep_incumbent,dem_incumbent,state_fips,minority_percentage,pres_approval,same_as_pres_party_rep,same_as_pres_party_dem,...,year,dem_firstname,dem_lastname,rep_firstname,rep_lastname,dem_uncontested,rep_uncontested,dem_is_female,rep_is_female,dem_percent
267,Alaska,0,0.5828,True,False,2,0.35584,NaN,None,None,...,2016,Steve,Lindbeck,Don,Young,False,False,0.0,0.0,NaN
602,Alaska,0,0.5544,True,False,2,0.34361,NaN,False,True,...,2014,Forrest,Dunbar,Don,Young,False,False,0.0,0.0,NaN
1098,Alaska,0,0.6908,True,False,2,0.33481,NaN,False,True,...,2012,Sharon,Cissna,Don,Young,False,False,1.0,0.0,NaN
1333,Alaska,0,0.6932,True,False,2,0.32600,0.38,False,True,...,2010,Harry,Crawford,Don,Young,False,False,0.0,0.0,NaN
1851,Alaska,0,0.5272,True,False,2,0.32569,NaN,None,None,...,2008,Ethan,Berkowitz,Don,Young,False,False,0.0,0.0,NaN
2021,Alaska,0,0.5857,True,False,2,0.30887,NaN,None,None,...,2006,Diane,Benson,Don,Young,False,False,1.0,0.0,NaN
2291,Alaska,0,0.7607,True,False,2,NaN,NaN,None,None,...,2004,Thomas,Higgins,Don,Young,False,False,0.0,0.0,NaN
2753,Alaska,0,0.8117,True,False,2,NaN,NaN,None,None,...,2002,Clifford,Greene,Don,Young,False,False,0.0,0.0,NaN
3036,Alaska,0,0.8079,True,False,2,NaN,NaN,None,None,...,2000,Clifford,Greene,Don,Young,False,False,0.0,0.0,NaN
3571,Alaska,0,0.6439,True,False,2,NaN,NaN,None,None,...,1998,Jim,Duncan,Don,Young,False,False,0.0,0.0,NaN
3949,Alaska,0,0.6199,True,False,2,NaN,NaN,None,None,...,1996,Georgianna,Lincoln,Don,Young,False,False,1.0,0.0,NaN
4215,Alaska,0,0.6349,True,False,2,NaN,NaN,None,None,...,1994,Tony,Smith,Don,Young,False,False,0.0,0.0,NaN
4546,Alaska,0,0.5221,True,False,2,NaN,NaN,None,None,...,1992,John,Devens,Don,Young,False,False,0.0,0.0,NaN
5188,Alaska,0,0.5192,True,False,2,NaN,NaN,None,None,...,1990,John,Devens,Don,Young,False,False,0.0,0.0,NaN
5310,Alaska,0,0.6265,True,False,2,NaN,NaN,None,None,...,1988,Peter,Gruenstein,Don,Young,False,False,0.0,0.0,NaN
5871,Alaska,0,0.5789,True,False,2,NaN,NaN,None,None,...,1986,Pegge,Begich,Don,Young,False,False,0.5,0.0,NaN
6320,Alaska,0,0.5690,True,False,2,NaN,NaN,None,None,...,1984,Pegge,Begich,Don,Young,False,False,0.5,0.0,NaN
6587,Alaska,0,0.7115,True,False,2,NaN,NaN,None,None,...,1982,Dave,Carlson,Don,Young,False,False,0.0,0.0,NaN
6968,Alaska,0,0.7408,True,False,2,NaN,NaN,None,None,...,1980,Kevin,Parnell,Don,Young,False,False,0.0,0.0,NaN
7275,Alaska,0,0.5550,True,False,2,NaN,NaN,None,None,...,1978,Patrick,Rodey,Don,Young,False,False,0.0,0.0,NaN
7614,Alaska,0,0.7100,True,False,2,NaN,NaN,None,None,...,1976,Eben,Hopson,Don,Young,False,False,0.5,0.0,NaN
8171,Alaska,0,0.5384,True,False,2,NaN,NaN,None,None,...,1974,William,Hensley,Don,Young,False,False,0.0,0.0,NaN
8492,Alaska,0,0.4376,False,True,2,NaN,NaN,None,None,...,1972,Nicholas,Begich,Don,Young,False,False,0.0,0.0,NaN
8854,Alaska,0,0.4489,False,False,2,NaN,NaN,None,None,...,1970,Nicholas,Begich,Frank,Murkowski,False,False,0.0,0.0,NaN
9064,Alaska,0,0.5423,True,False,2,NaN,NaN,None,None,...,1968,Nicholas,Begich,Howard,Pollock,False,False,0.0,0.0,NaN
9391,Alaska,0,NaN,True,False,2,0.35584,0.44,True,False,...,2018,Alyse,Galvin,Don,Young,False,False,1.0,0.0,NaN

In [503]:
joon.iloc[v.index]#.tail(10).fillna(method='ffill')['dem_percent'].isnull().values.any()

,state,district,rep_score,rep_incumbent,dem_incumbent,state_fips,minority_percentage,pres_approval,same_as_pres_party_rep,same_as_pres_party_dem,...,year,dem_firstname,dem_lastname,rep_firstname,rep_lastname,dem_uncontested,rep_uncontested,dem_is_female,rep_is_female,dem_percent
9397,Alabama,2,NaN,True,False,1,0.36979,0.34,True,False,...,2018,Tabitha,Isner,Martha,Roby,False,False,1.0,1.0,0.380884
0,Alabama,2,0.5462,True,False,1,0.36979,0.40,False,True,...,2016,Nathan,Mathis,Martha,Roby,False,False,0.0,1.0,0.419044
677,Alabama,2,0.6741,True,False,1,0.34606,0.33,False,True,...,2014,Erick,Wright,Martha,Roby,False,False,0.0,1.0,0.419044
1076,Alabama,2,0.6366,True,False,1,0.33997,0.36,False,True,...,2012,Therese,Ford,Martha,Roby,False,False,1.0,1.0,0.407024
1297,Alabama,2,0.5109,False,True,1,0.34800,0.41,False,True,...,2010,Bobby,Bright,Martha,Roby,False,False,0.0,1.0,0.407024
1884,Alabama,2,0.4969,False,False,1,0.35261,NaN,None,None,...,2008,Bobby,Bright,Jay,Love,False,False,0.0,0.0,NaN
2210,Alabama,2,0.6954,True,False,1,0.34189,NaN,None,None,...,2006,Charles,James,Terry,Everett,False,False,0.0,0.0,NaN
2300,Alabama,2,0.7151,True,False,1,NaN,NaN,None,None,...,2004,Charles,James,Terry,Everett,False,False,0.0,0.0,NaN
2803,Alabama,2,0.6996,True,False,1,NaN,NaN,None,None,...,2002,Charles,Woods,Terry,Everett,False,False,0.0,0.0,NaN
3024,Alabama,2,0.7004,True,False,1,NaN,NaN,None,None,...,2000,Charles,Woods,Terry,Everett,False,False,0.0,0.0,NaN
3572,Alabama,2,0.6933,True,False,1,NaN,NaN,None,None,...,1998,Joe,Fondren,Terry,Everett,False,False,0.0,0.0,NaN
4124,Alabama,2,0.6408,True,False,1,NaN,NaN,None,None,...,1996,Bob,Gaines,Terry,Everett,False,False,0.0,0.0,NaN
4469,Alabama,2,0.7358,True,False,1,NaN,NaN,None,None,...,1994,Brian,Dowling,Terry,Everett,False,False,0.0,0.0,NaN
4603,Alabama,2,0.5080,False,False,1,NaN,NaN,None,None,...,1992,George,Wallace,Terry,Everett,False,False,0.0,0.0,NaN
5241,Alabama,2,0.5129,True,False,1,NaN,NaN,None,None,...,1990,Faye,Baggiano,William,Dickinson,False,False,1.0,0.0,NaN
5825,Alabama,2,0.6670,True,False,1,NaN,NaN,None,None,...,1986,Mercer,Stone,William,Dickinson,False,False,0.5,0.0,NaN
6012,Alabama,2,0.6101,True,False,1,NaN,NaN,None,None,...,1984,Larry,Lee,William,Dickinson,False,False,0.0,0.0,NaN
6626,Alabama,2,0.5042,True,False,1,NaN,NaN,None,None,...,1982,Billy,Camp,William,Dickinson,False,False,0.0,0.0,NaN
6964,Alabama,2,0.6229,True,False,1,NaN,NaN,None,None,...,1980,Cecil,Wyatt,William,Dickinson,False,False,0.0,0.0,NaN
7279,Alabama,2,0.5400,True,False,1,NaN,NaN,None,None,...,1978,Wendell,Mitchell,William,Dickinson,False,False,0.0,0.0,NaN
7608,Alabama,2,0.5760,True,False,1,NaN,NaN,None,None,...,1976,Carole,Keahey,William,Dickinson,False,False,1.0,0.0,NaN
8162,Alabama,2,0.6611,True,False,1,NaN,NaN,None,None,...,1974,Clair,Chisler,William,Dickinson,False,False,0.0,0.0,NaN
8505,Alabama,2,0.5694,True,False,1,NaN,NaN,None,None,...,1972,Ben,Reeves,William,Dickinson,False,False,0.0,0.0,NaN
8851,Alabama,2,0.7059,True,False,1,NaN,NaN,None,None,...,1970,Jack,Winfield,William,Dickinson,False,False,0.0,0.0,NaN
9037,Alabama,2,0.6181,False,False,1,NaN,NaN,None,None,...,1968,Robert,Whaley,William,Dickinson,False,False,0.0,0.0,NaN

In [491]:
[prior[23]] * 10

[0.61, 0.61, 0.61, 0.61, 0.61, 0.61, 0.61, 0.61, 0.61, 0.61]

In [421]:
prior.to_dict()

{'rep_percent': {0: 39,
  1: 40,
  2: 30,
  3: 26,
  4: 27,
  5: 32,
  6: 29,
  7: 33,
  8: 41,
  9: 28,
  10: 33,
  11: 44,
  12: 42,
  13: 38,
  14: 43,
  15: 33,
  16: 41,
  17: 37,
  18: 42,
  19: 45,
  20: 56,
  21: 52,
  22: 50,
  23: 48,
  24: 38,
  25: 39,
  26: 47,
  27: 40,
  28: 39,
  29: 45,
  30: 47,
  31: 50,
  32: 45,
  33: 45,
  34: 43,
  35: 49,
  36: 41,
  37: 51,
  38: 42,
  39: 37,
  40: 53,
  41: 56,
  42: 56,
  43: 39,
  44: 34,
  45: 30,
  46: 36,
  47: 34,
  48: 28,
  49: 52},
 'state_fips': {0: 23,
  1: 33,
  2: 50,
  3: 25,
  4: 44,
  5: 9,
  6: 36,
  7: 34,
  8: 42,
  9: 24,
  10: 10,
  11: 54,
  12: 39,
  13: 26,
  14: 18,
  15: 17,
  16: 55,
  17: 27,
  18: 19,
  19: 29,
  20: 38,
  21: 46,
  22: 31,
  23: 20,
  24: 51,
  25: 37,
  26: 45,
  27: 13,
  28: 12,
  29: 21,
  30: 47,
  31: 1,
  32: 28,
  33: 5,
  34: 22,
  35: 40,
  36: 48,
  37: 30,
  38: 4,
  39: 8,
  40: 16,
  41: 56,
  42: 49,
  43: 32,
  44: 35,
  45: 6,
  46: 41,
  47: 53,
  48: 15,
  49: 2}}

In [ ]:
# 4: incumbents <= this is a duplicate dataset...
df4 = pd.read_csv('data/4_Incumbency Status Ashwin Ryan Hamish.csv')
# eg. Alaska and Wyoming only send 1 person
df4['District'] = df4['District'].str.replace('at-large', '0')
vs = [re.split(r'(\d+)', str(s))[:-1] for s in list(df4['District'])]
df4['state_fips'] = [int(us.states.lookup(x[0].strip()).fips) for x in vs]
df4['district'] = [int(x[1]) for x in vs]
df4 = df4.drop(columns=['District'])
df4['year'] = df4['Year'].apply(int)
df4 = df4.drop(columns=['Year', 'Candidate'])
df4

In [60]:
# 6: gender
df6 = pd.read_csv('data/6_features_Zhaohong_Shu.csv')
df6['District'] = df6['District'].str.replace('at-large1', '0')
vs = [re.split(r'(\d+)', str(s))[:-1] for s in list(df6['District'])]
valid_states = []
valid_districts = []
invalids = []
for i, x in enumerate(vs):
    try:
        valid_states.append(int(us.states.lookup(x[0].strip()).fips))
        valid_districts.append(int(x[1]))
    except AttributeError:
        invalids.append(i)
df6 = df6.drop(invalids).reset_index(drop=True)
df6['state_fips'], df6['district'] = valid_states, valid_districts
df6['year'] = df6['Year'].apply(int)
df6 = df6.drop(columns=['Year'])
df6['last_name'] = df6['Name'].str.split(" ").apply(lambda x: x[-1])
df6['is_female'] = df6['Gender'].apply(lambda x: x == 'female')
df6 = df6.drop(columns=['District', 'Name', 'Gender'])

In [78]:
df6['rep_lastname'] = df6['dem_lastname']
df6 = df6.drop(columns=['dem_lastname'])

In [68]:
joon['rep_lastname'] = joon['repcandidate'].str.split(",").apply(lambda x: x[0].strip())
joon['dem_lastname'] = joon['demcandidate'].str.split(",").apply(lambda x: x[0].strip())

In [81]:
df6['rep_is_female'] = df6['dem_is_female']
df6 = df6.drop(columns=['dem_is_female'])

In [242]:
df6

      state_fips  district  year   rep_lastname  rep_is_female
0              1         1  2010         Bonner           True
1              1         1  2010         Walter          False
2              1         2  2010           Roby           True
3              1         2  2010         Bright          False
4              1         3  2010         Rogers          False
5              1         3  2010        Segrest          False
6              1         4  2010         Brooks          False
7              1         4  2010           Raby          False
8              1         5  2010         Sewell           True
9              1         5  2010    Chamberlain          False
10             2         0  2010          Young          False
11             2         0  2010       Crawford          False
12             4         1  2010          Gosar          False
13             4         1  2010    Kirkpatrick           True
14             4         1  2010          Patti           True
15             4         2  2010         Franks          False
16             4         2  2010       Thrasher          False
17             4         2  2010        Gammill          False
18             4         3  2010         Quayle          False
19             4         3  2010        Hulburd          False
20             4         3  2010          Shoen          False
21             4         3  2010          Clark          False
22             4         4  2010         Pastor          False
23             4         4  2010      Contreras           True
24             4         4  2010           Cobb          False
25             4         4  2010         DeWitt           True
26             4         5  2010     Schweikert          False
27             4         5  2010       Mitchell          False
28             4         5  2010          Coons          False
29             4         6  2010          Flake          False
...          ...       ...   ...            ...            ...
6430          54         1  2018       Oliverio          False
6431          54         2  2018         Capito          False
6432          54         2  2018           Graf          False
6433          54         2  2018          Hudok          False
6434          54         3  2018         Rahall          False
6435          54         3  2018        Maynard          False
6436          55         1  2018           Ryan          False
6437          55         1  2018   Heckenlively          False
6438          55         1  2018          Kexel          False
6439          55         2  2018        Baldwin          False
6440          55         2  2018            Lee          False
6441          55         3  2018           Kind          False
6442          55         3  2018        Kapanke          False
6443          55         3  2018        Krsiean          False
6444          55         4  2018          Moore          False
6445          55         4  2018        Sebring          False
6446          55         4  2018         Ayyash          False
6447          55         5  2018  Sensenbrenner          False
6448          55         5  2018        Kolosso          False
6449          55         5  2018        Raymond          False
6450          55         6  2018          Petri          False
6451          55         6  2018         Kallas          False
6452          55         7  2018          Duffy          False
6453          55         7  2018          Lassa          False
6454          55         7  2018        Kauther          False
6455          55         8  2018         Ribble          False
6456          55         8  2018          Kagen          False
6457          56         0  2018         Lummis          False
6458          56         0  2018          Wendt          False
6459          56         0  2018           Love          False

[6460 rows x 5 columns]

In [107]:
# joon = joon.drop(columns=['dem_lastname', 'rep_lastname'])
joon.iloc[:-100]

,state,district,repcandidate,demcandidate,rep_score,rep_incumbent,dem_incumbent,state_fips,minority_percentage,pres_approval,same_as_pres_party_rep,same_as_pres_party_dem,log_med_income,year,dem_percent,dem_is_female,rep_is_female
0,Alabama,2,"Roby, Martha","Mathis, Nathan",0.5462,True,False,1,0.36979,0.40,False,True,10.646258,2016,0.419044,NaN,False
1,California,42,"Calvert, Ken","Sheridan, Tim",0.5882,True,False,6,0.38404,0.60,False,True,11.245098,2016,0.617835,NaN,NaN
2,Louisiana,4,"Johnson, Mike","Jones, Marshall",0.4669,False,False,22,0.39736,0.43,False,True,10.590315,2016,0.398072,NaN,NaN
3,Louisiana,4,"Johnson, Mike","Jones, Marshall",0.4669,False,False,22,0.39736,0.43,False,True,10.590315,2016,0.398072,NaN,NaN
4,Louisiana,4,"Johnson, Mike","Jones, Marshall",0.4669,False,False,22,0.39736,0.43,False,True,10.590315,2016,0.398072,NaN,NaN
5,Louisiana,6,"Graves, Garret","Lieberman, Richard",0.8078,True,False,22,0.30164,0.43,False,True,10.989859,2016,0.437192,NaN,NaN
6,California,53,"Veltmeyer, James","Davis, Susan A.",0.3299,False,True,6,0.35177,0.60,False,True,NaN,2016,0.526027,NaN,NaN
7,California,52,"Gitsham, Denise","Peters, Scott",0.4347,False,True,6,0.30440,0.60,False,True,11.417009,2016,0.526027,NaN,NaN
8,California,51,"Hidalgo, Juan M. Jr.","Vargas, Juan",0.2725,False,True,6,0.33433,0.60,False,True,10.750192,2016,0.529505,NaN,NaN
9,California,50,"Hunter, Duncan L.","Malloy, Patrick",0.6345,False,False,6,0.24730,0.60,False,True,11.180134,2016,0.526027,NaN,NaN
10,California,49,"Issa, Darrell","Applegate, Doug",0.5026,True,False,6,0.18487,0.60,False,True,11.300685,2016,0.515082,NaN,NaN
11,California,48,"Rohrabacher, Dana","Savary, Sue",0.5832,True,False,6,0.30367,0.60,False,True,11.395301,2016,0.457686,NaN,NaN
12,California,47,"Whallon, Andy","Lowenthal, Alan",0.3628,False,True,6,0.47436,0.60,False,True,11.089042,2016,0.457686,NaN,NaN
13,California,45,"Walters, Mimi","Varasteh, Ron",0.5856,True,False,6,0.37140,0.60,False,True,11.486130,2016,0.497861,NaN,NaN
14,California,43,"Navarro, Omar","Waters, Maxine",0.2392,False,True,6,0.66198,0.60,False,True,10.908046,2016,0.527647,NaN,NaN
15,California,41,"Shepherd, Doug","Takano, Mark A.",0.3505,False,True,6,0.54003,0.60,False,True,11.036002,2016,0.511963,NaN,NaN
16,Louisiana,4,"Johnson, Mike","Jones, Marshall",0.4669,False,False,22,0.39736,0.43,False,True,10.590315,2016,0.398072,NaN,NaN
17,California,39,"Royce, Ed","Murdock, Brett",0.5723,True,False,6,0.51572,0.60,False,True,11.352616,2016,0.705030,NaN,False
18,California,38,"Downing, Ryan","Sanchez, Linda",0.2952,False,True,6,0.57106,0.60,False,True,11.103769,2016,0.705030,NaN,NaN
19,California,36,"Stone, Jeff","Ruiz, Raul",0.3795,False,True,6,0.31294,0.60,False,True,10.704749,2016,0.705030,NaN,NaN
20,California,35,"Fischella, Tyler","Torres, Norma",0.2761,False,True,6,0.53792,0.60,False,True,10.953592,2016,0.705030,NaN,NaN
21,California,33,"Wright, Kenneth W.","Lieu, Ted",0.3356,False,True,6,0.27375,0.60,False,True,11.532297,2016,0.705030,NaN,NaN
22,California,31,"Chabot, Paul","Aguilar, Pete",0.4393,False,True,6,0.38521,0.60,False,True,10.979650,2016,0.705030,NaN,NaN
23,California,30,"Reed, Mark","Sherman, Brad",0.2736,False,True,6,0.31918,0.60,False,True,11.248673,2016,0.705030,NaN,NaN
24,California,28,"Solis, Lenore","Schiff, Adam B.",0.2201,False,True,6,0.33626,0.60,False,True,11.065700,2016,0.705030,False,NaN
25,California,27,"Orswell, Jack","Chu, Judy",0.3258,False,True,6,0.62346,0.60,False,True,11.173571,2016,0.705030,NaN,NaN
26,California,26,"Dagnesses, Rafael","Brownley, Julia",0.3962,False,True,6,0.19360,0.60,False,True,11.250443,2016,0.673149,NaN,NaN
27,California,25,"Knight, Steve","Caforio, Bryan",0.5313,True,False,6,0.35510,0.60,False,True,11.230125,2016,0.672420,NaN,NaN
28,California,24,"Fareed, Justin","Carbajal, Salud",0.4658,False,False,6,0.20405,0.60,False,True,11.140832,2016,0.548571,NaN,NaN
29,California,22,"Nunes, Devin","Campos, Louie J.",0.6757,True,False,6,0.26336,0.60,False,True,10.942421,2016,0.677058,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9324,California,2,"Dunaway, Osmer E.","Johnson, Harold T.",0.3821,False,True,6,NaN,NaN,None,None,NaN,1968,NaN,NaN,NaN
9325,Michigan,16,"Bona, Monte R.","Dingell, John D. Jr.",0.2593,False,True,26,NaN,NaN,None,None,NaN,1968,NaN,NaN,NaN
9326,California,3,"Duffy, Elmore J.","Moss, John Emerson",0.4274,False,False,6,NaN,NaN,None,None,NaN,1968,NaN,NaN,NaN
9327,California,19,"Jones, Bill","Holifield, Chet",0.3521,False,False,6,NaN,NaN,None,None,NaN,1968,NaN,NaN,NaN
9328,California,18,"Mathias, Robert B.","Hagan, Harlan",0.6609,True,False,6,NaN,NaN,None,None,NaN,1968,NaN,NaN,NaN
9329,California,17,"Blatchford, Joe","Anderson, Glenn M.",0.4871,False,False,6,NaN,NaN,None,None,NaN,1968,NaN,NaN,NaN
9330,California,16,"Harris, David","Sisk, B. F.",0.3615,False,True,6,NaN,NaN,None,None,NaN,1968,NaN,NaN,NaN
9331,California,15,"Van, Dyken Sam","McFall, John J.",0.4616,False,True,6,NaN,NaN,None,None,NaN,1968,NaN,NaN,NaN
9332,California,14,"Schuh, David W.","Waldie, Jerome R.",0.2707,False,True,6,NaN,NaN,None,None,NaN,1968,NaN,NaN,NaN
9333,California,13,"Teague, Charles M.","Sheinbaum, Stanley K.",0.6585,True,False,6,NaN,NaN,None,None,NaN,1968,NaN,NaN,NaN
9334,California,11,"McCloskey, Paul Norton Jr.","Whitaker, Urban G.",0.8023,False,False,6,NaN,NaN,None,None,NaN,1968,NaN,NaN,NaN
9335,California,10,"Gubser, Charles S.","Taketa, Grayson S.",0.6853,True,False,6,NaN,NaN,None,None,NaN,1968,NaN,NaN,NaN
9336,California,9,"Fargher, Larry","Edwards, Don",0.4345,False,True,6,NaN,NaN,None,None,NaN,1968,NaN,NaN,NaN
9337,California,8,"Britton, Raymond P.","Miller, George P.",0.3598,False,True,6,NaN,NaN,None,None,NaN,1968,NaN,NaN,NaN
9338,California,7,"Hilburn, Barney E.","Cohelan, Jeffery",0.3203,False,True,6,NaN,NaN,None,None,NaN,1968,NaN,NaN,NaN
9339,California,6,"Mailliard, William S.","Drath, Phillip",0.7337,False,False,6,NaN,NaN,None,None,NaN,1968,NaN,NaN,NaN
9340,California,5,"Velasquez, Waldo","Burton, Phillip",0.2457,False,True,6,NaN,NaN,None,None,NaN,1968,NaN,NaN,NaN
9341,California,4,"Shumway, James M.","Leggett, Robert L.",0.4272,False,True,6,NaN,NaN,None,None,NaN,1968,NaN,NaN,NaN
9342,New Jersey,2,"Sandman, Charles W.","Dichter, David",0.5543,False,False,34,NaN,NaN,None,None,NaN,1968,NaN,NaN,NaN
9343,New Jersey,3,"Stout, Richard R.","Howard, James J.",0.4206,False,True,34,NaN,NaN,None,None,NaN,1968,NaN,NaN,NaN
9344,New Jersey,4,"Souter, Sydney","Thompson, Frank Jr.",0.4654,False,False,34,NaN,NaN,None,None,NaN,1968,NaN,NaN,NaN
9345,New Jersey,5,"Frelinghuysen, Peter H.B. Jr.","Allen, Robert F.",0.6949,False,False,34,NaN,NaN,None,None,NaN,1968,NaN,NaN,NaN
9346,Ohio,14,"Ayres, William Hanes","Ocasek, Oliver",0.5511,True,False,39,NaN,NaN,None,None,NaN,1968,NaN,NaN,NaN
9347,Ohio,13,"Mosher, Charles A.","Betleski, Adrian F.",0.6188,True,False,39,NaN,NaN,None,None,NaN,1968,NaN,NaN,NaN
9348,Ohio,12,"Devine, Samuel L.","Pfeifer, Herbert J.",0.6757,True,False,39,NaN,NaN,None,None,NaN,1968,NaN,NaN,NaN
9349,Ohio,11,"Stanton, J. William","Wright, Alan D.",0.7535,True,False,39,NaN,NaN,None,None,NaN,1968,NaN,NaN,NaN
9350,Ohio,10,"Miller, Clarence E.","Crewson, Harry B.",0.6925,True,False,39,NaN,NaN,None,None,NaN,1968,NaN,NaN,NaN
9351,Ohio,9,"Marsh, Ben","Ashley, Thomas William Ludlow",0.4260,False,True,39,NaN,NaN,None,None,NaN,1968,NaN,NaN,NaN
9352,Ohio,8,"Betts, Jackson E.","Baker, Marie",0.7137,True,False,39,NaN,NaN,None,None,NaN,1968,NaN,NaN,NaN
9353,Ohio,7,"Brown, Clarence J. Jr.","Cecile, Robert E.",0.6379,False,False,39,NaN,NaN,None,None,NaN,1968,NaN,NaN,NaN

In [83]:
# dem
# joon = joon.merge(df6, on=['year', 'state_fips', 'district', 'dem_lastname'], how='left')
# rep
joon = joon.merge(df6, on=['year', 'state_fips', 'district', 'rep_lastname'], how='left')

In [183]:
# 10: primary percentage
df10 = pd.read_csv('data/10_Amil Merchant, Varun Krishnan, Thomas Chang.csv')
df10 = df10.drop([1491, 1499, 1503, 1507, 1509]).reset_index(drop=True) # Convention not primary
df10['primary_percent'] = df10['PRIMARY %'].apply(lambda x: float(x[:-1]) / 100)
# unable to classify in district eg. DES, ILS, NYSFULL, NYSUN, WVS
blacklist = []
for i, row in df10.iterrows():
    if len(row['district']) > 4:
        try:
            int(row[i])
        except:   
            blacklist.append(i)
df10 = df10.drop(blacklist).reset_index(drop=True)
df10['state_fips'] = df10['district'].apply(lambda x: int(us.states.lookup(states[x[:2]]).fips))
df10['district'] = df10['district'].apply(lambda x: int((x.split('-')[0].strip())[2:]))
df10 = df10.drop(columns=['Unnamed: 0', 'PRIMARY %'])
df10.columns = ['district', 'candidate', 'party', 'year', 'primary_percent', 'state_fips']

In [184]:
R = df10[df10['party'] == 'R'].drop(columns=['candidate', 'party'])
D = df10[df10['party'] == 'D'].drop(columns=['candidate', 'party'])
R.columns = ['district', 'year', 'rep_primary_percent', 'state_fips']
D.columns = ['district', 'year', 'dem_primary_percent', 'state_fips']

In [122]:
joon = joon.merge(R, on=['year', 'state_fips', 'district'], how='left')
joon = joon.merge(D, on=['year', 'state_fips', 'district'], how='left')
joon

,state,district,repcandidate,demcandidate,rep_score,rep_incumbent,dem_incumbent,state_fips,minority_percentage,pres_approval,same_as_pres_party_rep,same_as_pres_party_dem,log_med_income,year,dem_percent,dem_is_female,rep_is_female,rep_primary_percent,dem_primary_percent
0,Alabama,2,"Roby, Martha","Mathis, Nathan",0.5462,True,False,1,0.36979,0.40,False,True,10.646258,2016,0.419044,NaN,False,1.0000,1.0000
1,California,42,"Calvert, Ken","Sheridan, Tim",0.5882,True,False,6,0.38404,0.60,False,True,11.245098,2016,0.617835,NaN,NaN,0.6749,0.1581
2,Louisiana,4,"Johnson, Mike","Jones, Marshall",0.4669,False,False,22,0.39736,0.43,False,True,10.590315,2016,0.398072,NaN,NaN,NaN,NaN
3,Louisiana,4,"Johnson, Mike","Jones, Marshall",0.4669,False,False,22,0.39736,0.43,False,True,10.590315,2016,0.398072,NaN,NaN,NaN,NaN
4,Louisiana,4,"Johnson, Mike","Jones, Marshall",0.4669,False,False,22,0.39736,0.43,False,True,10.590315,2016,0.398072,NaN,NaN,NaN,NaN
5,Louisiana,6,"Graves, Garret","Lieberman, Richard",0.8078,True,False,22,0.30164,0.43,False,True,10.989859,2016,0.437192,NaN,NaN,NaN,NaN
6,California,53,"Veltmeyer, James","Davis, Susan A.",0.3299,False,True,6,0.35177,0.60,False,True,NaN,2016,0.526027,NaN,NaN,0.2067,0.5626
7,California,52,"Gitsham, Denise","Peters, Scott",0.4347,False,True,6,0.30440,0.60,False,True,11.417009,2016,0.526027,NaN,NaN,0.3526,0.4229
8,California,51,"Hidalgo, Juan M. Jr.","Vargas, Juan",0.2725,False,True,6,0.33433,0.60,False,True,10.750192,2016,0.529505,NaN,NaN,0.3130,0.6834
9,California,50,"Hunter, Duncan L.","Malloy, Patrick",0.6345,False,False,6,0.24730,0.60,False,True,11.180134,2016,0.526027,NaN,NaN,0.7043,0.2434
10,California,49,"Issa, Darrell","Applegate, Doug",0.5026,True,False,6,0.18487,0.60,False,True,11.300685,2016,0.515082,NaN,NaN,0.6187,0.2839
11,California,48,"Rohrabacher, Dana","Savary, Sue",0.5832,True,False,6,0.30367,0.60,False,True,11.395301,2016,0.457686,NaN,NaN,0.5608,0.1951
12,California,47,"Whallon, Andy","Lowenthal, Alan",0.3628,False,True,6,0.47436,0.60,False,True,11.089042,2016,0.457686,NaN,NaN,0.4291,0.5708
13,California,45,"Walters, Mimi","Varasteh, Ron",0.5856,True,False,6,0.37140,0.60,False,True,11.486130,2016,0.497861,NaN,NaN,0.4506,0.2811
14,California,43,"Navarro, Omar","Waters, Maxine",0.2392,False,True,6,0.66198,0.60,False,True,10.908046,2016,0.527647,NaN,NaN,0.3275,0.6723
15,California,41,"Shepherd, Doug","Takano, Mark A.",0.3505,False,True,6,0.54003,0.60,False,True,11.036002,2016,0.511963,NaN,NaN,0.3696,0.4465
16,Louisiana,4,"Johnson, Mike","Jones, Marshall",0.4669,False,False,22,0.39736,0.43,False,True,10.590315,2016,0.398072,NaN,NaN,NaN,NaN
17,California,39,"Royce, Ed","Murdock, Brett",0.5723,True,False,6,0.51572,0.60,False,True,11.352616,2016,0.705030,NaN,False,0.7055,0.2945
18,California,38,"Downing, Ryan","Sanchez, Linda",0.2952,False,True,6,0.57106,0.60,False,True,11.103769,2016,0.705030,NaN,NaN,0.4247,0.5753
19,California,36,"Stone, Jeff","Ruiz, Raul",0.3795,False,True,6,0.31294,0.60,False,True,10.704749,2016,0.705030,NaN,NaN,0.3481,0.5033
20,California,35,"Fischella, Tyler","Torres, Norma",0.2761,False,True,6,0.53792,0.60,False,True,10.953592,2016,0.705030,NaN,NaN,NaN,0.6568
21,California,35,"Fischella, Tyler","Torres, Norma",0.2761,False,True,6,0.53792,0.60,False,True,10.953592,2016,0.705030,NaN,NaN,NaN,0.1489
22,California,33,"Wright, Kenneth W.","Lieu, Ted",0.3356,False,True,6,0.27375,0.60,False,True,11.532297,2016,0.705030,NaN,NaN,0.2161,0.1881
23,California,31,"Chabot, Paul","Aguilar, Pete",0.4393,False,True,6,0.38521,0.60,False,True,10.979650,2016,0.705030,NaN,NaN,0.2660,0.1736
24,California,30,"Reed, Mark","Sherman, Brad",0.2736,False,True,6,0.31918,0.60,False,True,11.248673,2016,0.705030,NaN,NaN,0.2007,0.5793
25,California,28,"Solis, Lenore","Schiff, Adam B.",0.2201,False,True,6,0.33626,0.60,False,True,11.065700,2016,0.705030,False,NaN,NaN,0.7448
26,California,27,"Orswell, Jack","Chu, Judy",0.3258,False,True,6,0.62346,0.60,False,True,11.173571,2016,0.705030,NaN,NaN,0.3963,0.6037
27,California,26,"Dagnesses, Rafael","Brownley, Julia",0.3962,False,True,6,0.19360,0.60,False,True,11.250443,2016,0.673149,NaN,NaN,0.4453,0.4550
28,California,25,"Knight, Steve","Caforio, Bryan",0.5313,True,False,6,0.35510,0.60,False,True,11.230125,2016,0.672420,NaN,NaN,0.2840,NaN
29,California,25,"Knight, Steve","Caforio, Bryan",0.5313,True,False,6,0.35510,0.60,False,True,11.230125,2016,0.672420,NaN,NaN,0.2958,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9433,California,34,"Teague, Bill J.","Hanna, Richard T.",0.4904,False,True,6,NaN,NaN,None,None,NaN,1968,NaN,NaN,NaN,NaN,NaN
9434,California,33,"Pettis, Jerry L.","Ballard, Al C.",0.6743,True,False,6,NaN,NaN,None,None,NaN,1968,NaN,NaN,NaN,NaN,NaN
9435,California,32,"Hosmer, Craig","Gottlieb, Arthur J.",0.7542,True,False,6,NaN,NaN,None,None,NaN,1968,NaN,NaN,NaN,NaN,NaN
9436,California,31,"Dunn, James R.","Wilson, Charles H.",0.3991,False,True,6,NaN,NaN,None,None,NaN,1968,NaN,NaN,NaN,NaN,NaN
9437,California,30,"Cavnar, Samuel M.","Roybal, Edward R.",0.3260,False,True,6,NaN,NaN,None,None,NaN,1968,NaN,NaN,NaN,NaN,NaN
9438,California,29,"Orozco, Bill","Brown, George E. Jr.",0.4773,False,False,6,NaN,NaN,None,None,NaN,1968,NaN,NaN,NaN,NaN,NaN
9439,California,28,"Bell, Alphonzo","Pratt, John M.",0.7270,False,False,6,NaN,NaN,None,None,NaN,1968,NaN,NaN,NaN,NaN,NaN
9440,California,27,"Reinecke, Ed","Butchko, John T.",0.7216,True,False,6,NaN,NaN,None,None,NaN,1968,NaN,NaN,NaN,NaN,NaN
9441,California,26,"Teichner, Irving","Rees, Thomas M.",0.3239,False,True,6,NaN,NaN,None,None,NaN,1968,NaN,NaN,NaN,NaN,NaN
9442,California,25,"Wiggins, Charles E.","Shirey, Keith F.",0.6867,True,False,6,NaN,NaN,None,None,NaN,1968,NaN,NaN,NaN,NaN,NaN
9443,California,24,"Lipscomb, Glenard P.","Neal, Fred W.",0.7284,True,False,6,NaN,NaN,None,None,NaN,1968,NaN,NaN,NaN,NaN,NaN
9444,Nevada,0,"Slattery, James M.","Baring, Walter S.",0.2786,False,True,32,NaN,NaN,None,None,NaN,1968,NaN,NaN,NaN,NaN,NaN
9445,Nebraska,3,"Martin, Dave","Dean, J. B.",0.6783,False,False,31,NaN,NaN,None,None,NaN,1968,NaN,NaN,NaN,NaN,NaN
9446,Nebraska,2,"Cunningham, Glenn","Morrison, Mrs. Frank",0.5517,True,False,31,NaN,NaN,None,None,NaN,1968,NaN,NaN,NaN,NaN,NaN
9447,Oregon,2,"Root, Marv","Ullman, Albert C.",0.3608,False,False,41,NaN,NaN,None,None,NaN,1968,NaN,NaN,NaN,NaN,NaN
9448,Missouri,7,"Hall, Durward G.","Bonitt, Edward J.",0.6376,True,False,29,NaN,NaN,None,None,NaN,1968,NaN,NaN,NaN,NaN,NaN
9449,Missouri,8,"Northern, Eugene E.","Ichord, Richard",0.4118,False,True,29,NaN,NaN,None,None,NaN,1968,NaN,NaN,NaN,NaN,NaN
9450,Missouri,9,"Bond, Kit","Hungate, William L.",0.4776,False,True,29,NaN,NaN,None,None,NaN,1968,NaN,NaN,NaN,NaN,NaN
9451,Missouri,10,"Landgraf, Vernon H.","Burlison, Bill D.",0.4604,False,False,29,NaN,NaN,None,None,NaN,1968,NaN,NaN,NaN,NaN,NaN
9452,Oregon,4,"Dellenback, John R.","Fadeley, Edward N.",0.5893,True,False,41,NaN,NaN,None,None,NaN,1968,NaN,NaN,NaN,NaN,NaN
9453,Oregon,3,"Warren, Douglas S.","Green, Edith",0.3015,False,True,41,NaN,NaN,None,None,NaN,1968,NaN,NaN,NaN,NaN,NaN
9454,Oregon,1,"Wyatt, Wendell","Baggs, Thomas M.",0.8061,True,False,41,NaN,NaN,None,None,NaN,1968,NaN,NaN,NaN,NaN,NaN
9455,Nebraska,1,"Denney, Robert V.","Callan, Clair A.",0.5549,True,False,31,NaN,NaN,None,None,NaN,1968,NaN,NaN,NaN,NaN,NaN
9456,Colorado,4,"Anderson, Fred E.","Aspinall, Wayne N.",0.4531,False,True,8,NaN,NaN,None,None,NaN,1968,NaN,NaN,NaN,NaN,NaN
9457,Colorado,3,"Bradley, Paul","Evans, Frank E.",0.4788,False,True,8,NaN,NaN,None,None,NaN,1968,NaN,NaN,NaN,NaN,NaN
9458,Colorado,2,"Brotzman, Donald G.","McVicker, Roy H.",0.6285,True,False,8,NaN,NaN,None,None,NaN,1968,NaN,NaN,NaN,NaN,NaN
9459,Colorado,1,"Kemp, Frank A.","Rogers, Byron G.",0.4755,False,True,8,NaN,NaN,None,None,NaN,1968,NaN,NaN,NaN,NaN,NaN
9460,Montana,1,"Smiley, Richard","Olsen, Arnold",0.4638,False,True,30,NaN,NaN,None,None,NaN,1968,NaN,NaN,NaN,NaN,NaN
9461,Montana,2,"Battin, James F.","Kelleher, Bob",0.6785,True,False,30,NaN,NaN,None,None,NaN,1968,NaN,NaN,NaN,NaN,NaN
9462,Wyoming,0,"Wold, John S.","Linford, Velma",0.6274,False,False,56,NaN,NaN,None,None,NaN,1968,NaN,NaN,NaN,NaN,NaN

In [185]:
new = kevin.merge(R, on=['year', 'state_fips', 'district'], how='left')
new = kevin.merge(D, on=['year', 'state_fips', 'district'], how='left')

In [186]:
new

,state,district,repcandidate,demcandidate,rep_score,rep_incumbent,dem_incumbent,state_fips,minority_percentage,pres_approval,same_as_pres_party_rep,same_as_pres_party_dem,log_med_income,percent_bachelor_or_above,year,dem_primary_percent
0,Alabama,2,"Roby, Martha","Mathis, Nathan",0.5462,True,False,1,0.36979,0.40,False,True,10.646258,0.218,2016,1.0000
1,Kansas,4,"Pompeo, Mike","Giroux, Daniel B.",0.6720,True,False,20,0.17527,0.40,False,True,10.860037,0.282,2016,1.0000
2,California,5,"Santamaria, Carlos","Thompson, Mike",0.2313,False,True,6,0.37847,0.60,False,True,11.198297,0.304,2016,0.8044
3,California,4,"McClintock, Tom","Derlet, Robert W.",0.6272,True,False,6,0.15606,0.60,False,True,11.212820,0.322,2016,NaN
4,California,3,"Cleek, N. Eugene","Garamendi, John",0.4065,False,True,6,0.33472,0.60,False,True,11.026923,0.245,2016,0.5348
5,California,2,"Mensing, Dale K.","Huffman, Jared",0.2315,False,True,6,0.20327,0.60,False,True,11.106520,0.400,2016,0.6791
6,California,1,"LaMalfa, Doug","Reed, Jim",0.5905,True,False,6,0.12946,NaN,None,True,10.768232,0.232,2016,0.3015
7,New Hampshire,1,"Guinta, Frank C.","Shea-Porter, Carol",0.4923,True,False,33,0.06590,0.46,False,True,11.174329,0.361,2016,0.9811
8,New Hampshire,2,"Lawrence, James","Kuster, Ann McLane",0.4767,False,True,33,0.06542,0.46,False,True,11.163708,0.348,2016,0.9861
9,Kentucky,6,"Barr, Garland","Kemper, Nancy Jo",0.6109,True,False,21,0.15217,0.36,False,True,10.832872,0.303,2016,0.6087
10,Kentucky,4,"Massie, Thomas","Sidle, Calvin",0.7132,True,False,21,0.08070,0.36,False,True,11.017185,0.266,2016,1.0000
11,Kentucky,3,"Bratcher, Harold","Yarmuth, John",0.3650,False,True,21,0.28353,0.36,False,True,10.840953,0.310,2016,0.8704
12,Kentucky,1,"Comer, James R.","Gaskins, Sam",0.7264,False,False,21,0.10874,0.36,False,True,10.602940,0.159,2016,0.5549
13,New Jersey,1,"Patterson, Bob","Norcross, Donald",0.3802,False,True,34,0.32151,0.55,False,True,11.130317,0.299,2016,NaN
14,California,7,"Jones, Scott R.","Bera, Ami",0.4883,False,True,6,0.36912,0.60,False,True,11.138014,0.326,2016,0.4672
15,New Jersey,2,"LoBiondo, Frank A.","Cole, David H.",0.6140,True,False,34,0.24616,0.55,False,True,11.014621,0.248,2016,0.8177
16,New Jersey,3,"MacArthur, Tom","Lavergne, Frederick John",0.6041,True,False,34,0.20325,0.55,False,None,11.219051,0.328,2016,0.8378
17,New Jersey,4,"Smith, Christopher H.","Phillipson, Lorna",0.6553,True,False,34,0.15310,0.55,False,True,11.270994,0.385,2016,1.0000
18,New Jersey,5,"Garrett, Scott","Gottheimer, Joshua S.",0.4774,True,False,34,0.20487,0.55,False,True,11.515113,0.462,2016,0.9024
19,New Jersey,6,"Sonnek-Schmelz, Brent","Pallone, Frank Jr.",0.3538,False,True,34,0.36267,0.55,False,True,11.280098,0.384,2016,1.0000
20,New Jersey,7,"Lance, Leonard","Jacob, Peter",0.5564,True,False,34,0.21178,0.55,False,True,11.579612,0.514,2016,1.0000
21,New Jersey,8,"Khan, Agha","Sires, Albio",0.1936,False,True,34,0.42608,0.55,False,True,10.957643,0.308,2016,1.0000
22,New Jersey,9,"Castillo, Hector L.","Pascrell, William J. Jr.",0.2867,False,True,34,0.37801,0.55,False,True,11.081589,0.327,2016,1.0000
23,New Jersey,10,"Pinckney, David H.","Payne, Donald M. Jr.",0.1217,False,True,34,0.70983,0.55,False,None,10.821776,0.276,2016,0.9125
24,New Jersey,11,"Frelinghuysen, Rodney","Wenzel, Joseph M.",0.5988,True,False,34,0.18036,0.55,False,True,11.592291,0.521,2016,0.7595
25,New Jersey,12,"Uccio, Steven J.","Coleman, Bonnie Watson",0.3375,False,True,34,0.40598,0.55,False,True,11.359121,0.436,2016,0.4304
26,California,6,"Evans, Robert H. Jr.","Matsui, Doris",0.2457,False,True,6,0.47646,0.60,False,True,10.857690,0.268,2016,0.7360
27,California,8,"Cook, Paul","Ramirez, Rita",0.6226,True,False,6,0.24169,0.60,False,True,10.803527,0.160,2016,0.1871
28,New Mexico,3,"Romero, Michael H.","Lujan, Ben Ray",0.3758,False,True,35,0.34684,0.49,False,True,10.803852,0.271,2016,0.8756
29,California,24,"Fareed, Justin","Carbajal, Salud",0.4658,False,False,6,0.20405,0.60,False,True,11.140832,0.330,2016,0.4367
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9368,Maryland,7,"Downs, Arthur W.","Friedel, Samuel N.",0.2038,False,True,24,NaN,NaN,None,None,NaN,NaN,1968,NaN
9369,Maryland,6,"Beall, John Glenn Jr.","Byron, Goodloe E.",0.5300,False,False,24,NaN,NaN,None,None,NaN,NaN,1968,NaN
9370,Maryland,5,"Hogan, Lawrence J.","Machen, Hervey G.",0.5272,False,True,24,NaN,NaN,None,None,NaN,NaN,1968,NaN
9371,Maryland,4,"Raimondi, Thomas P.","Fallon, George Hyde",0.3441,False,True,24,NaN,NaN,None,None,NaN,NaN,1968,NaN
9372,Maryland,3,"Chew, James E.","Garmatz, Edward A.",0.1875,False,True,24,NaN,NaN,None,None,NaN,NaN,1968,NaN
9373,Maryland,2,"Mudd, John E.","Long, Clarence D.",0.4094,False,True,24,NaN,NaN,None,None,NaN,NaN,1968,NaN
9374,Maryland,1,"Morton, Rogers C. B.","White, E. Homer",0.7359,True,False,24,NaN,NaN,None,None,NaN,NaN,1968,NaN
9375,Maine,2,"Shute, Elden H.","Hathaway, William D.",0.4429,False,True,23,NaN,NaN,None,None,NaN,NaN,1968,NaN
9376,Maine,1,"Hildreth, Horace A.","Kyros, Peter N.",0.4338,False,True,23,NaN,NaN,None,None,NaN,NaN,1968,NaN
9377,Louisiana,7,"Planche, Vance W.","Edwards, Edwin W.",0.1505,False,True,22,NaN,NaN,None,None,NaN,NaN,1968,NaN
9378,Louisiana,6,"Rockhold, Loyd","Rarick, John R.",0.2073,False,True,22,NaN,NaN,None,None,NaN,NaN,1968,NaN
9379,Massachusetts,5,"Morse, F. Bradford","Maguire, Robert C.",0.6041,True,False,25,NaN,NaN,None,None,NaN,NaN,1968,NaN
9380,Massachusetts,6,"Bates, William H.","Henderson, Deirdre",0.6608,True,False,25,NaN,NaN,None,None,NaN,NaN,1968,NaN
9381,Massachusetts,7,"Abbott, William S.","MacDonald, Torbert H.",0.3748,False,False,25,NaN,NaN,None,None,NaN,NaN,1968,NaN
9382,Michigan,5,"Ford, Gerald R.","Howard, Laurence E.",0.6281,True,False,26,NaN,NaN,None,None,NaN,NaN,1968,NaN
9383,Michigan,11,"Ruppe, Philip E.","Clevenger, Raymond F.",0.5879,False,False,26,NaN,NaN,None,None,NaN,NaN,1968,NaN
9384,Michigan,10,"Cederberg, Elford A.","Miller, Wayne",0.6593,True,False,26,NaN,NaN,None,None,NaN,NaN,1968,NaN
9385,Michigan,9,"Vander Jagt, Guy","Wabeke, Jay A.",0.6747,True,False,26,NaN,NaN,None,None,NaN,NaN,1968,NaN
9386,Michigan,8,"Harvey, James","Davies, Richard E.",0.6884,True,False,26,NaN,NaN,None,None,NaN,NaN,1968,NaN
9387,Michigan,7,"Riegle, Donald Wayne Jr.","Blue, William R.",0.6066,False,False,26,NaN,NaN,None,None,NaN,NaN,1968,NaN
9388,Michigan,6,"Chamberlain, C. E.","Harrison, James A.",0.6413,False,False,26,NaN,NaN,None,None,NaN,NaN,1968,NaN
9389,Michigan,4,"Hutchinson, Edward","Martin, John V.",0.6563,True,False,26,NaN,NaN,None,None,NaN,NaN,1968,NaN
9390,Massachusetts,9,"Freeman, Alan C.","McCormack, John W.",0.1706,False,True,25,NaN,NaN,None,None,NaN,NaN,1968,NaN
9391,Michigan,3,"Brown, Garry","Keenan, Thomas L.",0.6516,True,False,26,NaN,NaN,None,None,NaN,NaN,1968,NaN
9392,Michigan,2,"Esch, Marvin L.","Vivian, Weston E.",0.5476,True,False,26,NaN,NaN,None,None,NaN,NaN,1968,NaN
9393,South Carolina,5,"Boyd, Hugh J.","Gettys, Tom S.",0.2259,False,False,45,NaN,NaN,None,None,NaN,NaN,1968,NaN
9394,Utah,1,"Burton, Laurence J.","Maughan, Richard J.",0.6812,True,False,49,NaN,NaN,None,None,NaN,NaN,1968,NaN
9395,Utah,2,"Lloyd, Sherman P.","Ross, Galen J.",0.6165,True,False,49,NaN,NaN,None,None,NaN,NaN,1968,NaN
9396,Massachusetts,10,"Heckler, Margaret M.","Dinis, Edmund",0.6737,True,False,25,NaN,NaN,None,None,NaN,NaN,1968,NaN
9397,Wyoming,0,"Wold, John S.","Linford, Velma",0.6274,False,False,56,NaN,NaN,None,None,NaN,NaN,1968,NaN

In [187]:
# 12: labor force
df12 = pd.read_csv('data/12_employment_16_to_64 Peter Shen _ Harry Burke.csv')
vs = [re.split(r'(\d+)', str(s))[:-1] for s in list(df12['StateDistrict'])]
df12['state_fips'] = [int(us.states.lookup(x[0].strip()).fips) for x in vs]
df12['district'] = [int(x[1]) for x in vs]
df12['year'] = df12['Year'] + 2000
df12 = df12.drop(columns=['StateDistrict', 'Year', 'Name'])
df12.columns = ['labor_force', 'state_fips', 'district', 'year']

In [189]:
new = new.merge(df12, on=['year', 'state_fips', 'district'], how='left')

In [130]:
joon = joon.merge(df12, on=['year', 'state_fips', 'district'], how='left')
joon

,state,district,repcandidate,demcandidate,rep_score,rep_incumbent,dem_incumbent,state_fips,minority_percentage,pres_approval,same_as_pres_party_rep,same_as_pres_party_dem,log_med_income,year,dem_percent,dem_is_female,rep_is_female,rep_primary_percent,dem_primary_percent,labor_force
0,Alabama,2,"Roby, Martha","Mathis, Nathan",0.5462,True,False,1,0.36979,0.40,False,True,10.646258,2016,0.419044,NaN,False,1.0000,1.0000,68.10000
1,California,42,"Calvert, Ken","Sheridan, Tim",0.5882,True,False,6,0.38404,0.60,False,True,11.245098,2016,0.617835,NaN,NaN,0.6749,0.1581,72.70000
2,Louisiana,4,"Johnson, Mike","Jones, Marshall",0.4669,False,False,22,0.39736,0.43,False,True,10.590315,2016,0.398072,NaN,NaN,NaN,NaN,NaN
3,Louisiana,4,"Johnson, Mike","Jones, Marshall",0.4669,False,False,22,0.39736,0.43,False,True,10.590315,2016,0.398072,NaN,NaN,NaN,NaN,NaN
4,Louisiana,4,"Johnson, Mike","Jones, Marshall",0.4669,False,False,22,0.39736,0.43,False,True,10.590315,2016,0.398072,NaN,NaN,NaN,NaN,NaN
5,Louisiana,6,"Graves, Garret","Lieberman, Richard",0.8078,True,False,22,0.30164,0.43,False,True,10.989859,2016,0.437192,NaN,NaN,NaN,NaN,69.90000
6,California,53,"Veltmeyer, James","Davis, Susan A.",0.3299,False,True,6,0.35177,0.60,False,True,NaN,2016,0.526027,NaN,NaN,0.2067,0.5626,69.60000
7,California,52,"Gitsham, Denise","Peters, Scott",0.4347,False,True,6,0.30440,0.60,False,True,11.417009,2016,0.526027,NaN,NaN,0.3526,0.4229,68.00000
8,California,51,"Hidalgo, Juan M. Jr.","Vargas, Juan",0.2725,False,True,6,0.33433,0.60,False,True,10.750192,2016,0.529505,NaN,NaN,0.3130,0.6834,68.30000
9,California,50,"Hunter, Duncan L.","Malloy, Patrick",0.6345,False,False,6,0.24730,0.60,False,True,11.180134,2016,0.526027,NaN,NaN,0.7043,0.2434,69.40000
10,California,49,"Issa, Darrell","Applegate, Doug",0.5026,True,False,6,0.18487,0.60,False,True,11.300685,2016,0.515082,NaN,NaN,0.6187,0.2839,68.30000
11,California,48,"Rohrabacher, Dana","Savary, Sue",0.5832,True,False,6,0.30367,0.60,False,True,11.395301,2016,0.457686,NaN,NaN,0.5608,0.1951,68.50000
12,California,47,"Whallon, Andy","Lowenthal, Alan",0.3628,False,True,6,0.47436,0.60,False,True,11.089042,2016,0.457686,NaN,NaN,0.4291,0.5708,68.02381
13,California,45,"Walters, Mimi","Varasteh, Ron",0.5856,True,False,6,0.37140,0.60,False,True,11.486130,2016,0.497861,NaN,NaN,0.4506,0.2811,66.90000
14,California,43,"Navarro, Omar","Waters, Maxine",0.2392,False,True,6,0.66198,0.60,False,True,10.908046,2016,0.527647,NaN,NaN,0.3275,0.6723,74.00000
15,California,41,"Shepherd, Doug","Takano, Mark A.",0.3505,False,True,6,0.54003,0.60,False,True,11.036002,2016,0.511963,NaN,NaN,0.3696,0.4465,73.10000
16,Louisiana,4,"Johnson, Mike","Jones, Marshall",0.4669,False,False,22,0.39736,0.43,False,True,10.590315,2016,0.398072,NaN,NaN,NaN,NaN,NaN
17,California,39,"Royce, Ed","Murdock, Brett",0.5723,True,False,6,0.51572,0.60,False,True,11.352616,2016,0.705030,NaN,False,0.7055,0.2945,72.60000
18,California,38,"Downing, Ryan","Sanchez, Linda",0.2952,False,True,6,0.57106,0.60,False,True,11.103769,2016,0.705030,NaN,NaN,0.4247,0.5753,72.30000
19,California,36,"Stone, Jeff","Ruiz, Raul",0.3795,False,True,6,0.31294,0.60,False,True,10.704749,2016,0.705030,NaN,NaN,0.3481,0.5033,71.83158
20,California,35,"Fischella, Tyler","Torres, Norma",0.2761,False,True,6,0.53792,0.60,False,True,10.953592,2016,0.705030,NaN,NaN,NaN,0.6568,71.70000
21,California,35,"Fischella, Tyler","Torres, Norma",0.2761,False,True,6,0.53792,0.60,False,True,10.953592,2016,0.705030,NaN,NaN,NaN,0.1489,71.70000
22,California,33,"Wright, Kenneth W.","Lieu, Ted",0.3356,False,True,6,0.27375,0.60,False,True,11.532297,2016,0.705030,NaN,NaN,0.2161,0.1881,69.10000
23,California,31,"Chabot, Paul","Aguilar, Pete",0.4393,False,True,6,0.38521,0.60,False,True,10.979650,2016,0.705030,NaN,NaN,0.2660,0.1736,67.60000
24,California,30,"Reed, Mark","Sherman, Brad",0.2736,False,True,6,0.31918,0.60,False,True,11.248673,2016,0.705030,NaN,NaN,0.2007,0.5793,67.80000
25,California,28,"Solis, Lenore","Schiff, Adam B.",0.2201,False,True,6,0.33626,0.60,False,True,11.065700,2016,0.705030,False,NaN,NaN,0.7448,69.10000
26,California,27,"Orswell, Jack","Chu, Judy",0.3258,False,True,6,0.62346,0.60,False,True,11.173571,2016,0.705030,NaN,NaN,0.3963,0.6037,69.84762
27,California,26,"Dagnesses, Rafael","Brownley, Julia",0.3962,False,True,6,0.19360,0.60,False,True,11.250443,2016,0.673149,NaN,NaN,0.4453,0.4550,71.30526
28,California,25,"Knight, Steve","Caforio, Bryan",0.5313,True,False,6,0.35510,0.60,False,True,11.230125,2016,0.672420,NaN,NaN,0.2840,NaN,72.60000
29,California,25,"Knight, Steve","Caforio, Bryan",0.5313,True,False,6,0.35510,0.60,False,True,11.230125,2016,0.672420,NaN,NaN,0.2958,NaN,72.60000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9669,California,34,"Teague, Bill J.","Hanna, Richard T.",0.4904,False,True,6,NaN,NaN,None,None,NaN,1968,NaN,NaN,NaN,NaN,NaN,NaN
9670,California,33,"Pettis, Jerry L.","Ballard, Al C.",0.6743,True,False,6,NaN,NaN,None,None,NaN,1968,NaN,NaN,NaN,NaN,NaN,NaN
9671,California,32,"Hosmer, Craig","Gottlieb, Arthur J.",0.7542,True,False,6,NaN,NaN,None,None,NaN,1968,NaN,NaN,NaN,NaN,NaN,NaN
9672,California,31,"Dunn, James R.","Wilson, Charles H.",0.3991,False,True,6,NaN,NaN,None,None,NaN,1968,NaN,NaN,NaN,NaN,NaN,NaN
9673,California,30,"Cavnar, Samuel M.","Roybal, Edward R.",0.3260,False,True,6,NaN,NaN,None,None,NaN,1968,NaN,NaN,NaN,NaN,NaN,NaN
9674,California,29,"Orozco, Bill","Brown, George E. Jr.",0.4773,False,False,6,NaN,NaN,None,None,NaN,1968,NaN,NaN,NaN,NaN,NaN,NaN
9675,California,28,"Bell, Alphonzo","Pratt, John M.",0.7270,False,False,6,NaN,NaN,None,None,NaN,1968,NaN,NaN,NaN,NaN,NaN,NaN
9676,California,27,"Reinecke, Ed","Butchko, John T.",0.7216,True,False,6,NaN,NaN,None,None,NaN,1968,NaN,NaN,NaN,NaN,NaN,NaN
9677,California,26,"Teichner, Irving","Rees, Thomas M.",0.3239,False,True,6,NaN,NaN,None,None,NaN,1968,NaN,NaN,NaN,NaN,NaN,NaN
9678,California,25,"Wiggins, Charles E.","Shirey, Keith F.",0.6867,True,False,6,NaN,NaN,None,None,NaN,1968,NaN,NaN,NaN,NaN,NaN,NaN
9679,California,24,"Lipscomb, Glenard P.","Neal, Fred W.",0.7284,True,False,6,NaN,NaN,None,None,NaN,1968,NaN,NaN,NaN,NaN,NaN,NaN
9680,Nevada,0,"Slattery, James M.","Baring, Walter S.",0.2786,False,True,32,NaN,NaN,None,None,NaN,1968,NaN,NaN,NaN,NaN,NaN,NaN
9681,Nebraska,3,"Martin, Dave","Dean, J. B.",0.6783,False,False,31,NaN,NaN,None,None,NaN,1968,NaN,NaN,NaN,NaN,NaN,NaN
9682,Nebraska,2,"Cunningham, Glenn","Morrison, Mrs. Frank",0.5517,True,False,31,NaN,NaN,None,None,NaN,1968,NaN,NaN,NaN,NaN,NaN,NaN
9683,Oregon,2,"Root, Marv","Ullman, Albert C.",0.3608,False,False,41,NaN,NaN,None,None,NaN,1968,NaN,NaN,NaN,NaN,NaN,NaN
9684,Missouri,7,"Hall, Durward G.","Bonitt, Edward J.",0.6376,True,False,29,NaN,NaN,None,None,NaN,1968,NaN,NaN,NaN,NaN,NaN,NaN
9685,Missouri,8,"Northern, Eugene E.","Ichord, Richard",0.4118,False,True,29,NaN,NaN,None,None,NaN,1968,NaN,NaN,NaN,NaN,NaN,NaN
9686,Missouri,9,"Bond, Kit","Hungate, William L.",0.4776,False,True,29,NaN,NaN,None,None,NaN,1968,NaN,NaN,NaN,NaN,NaN,NaN
9687,Missouri,10,"Landgraf, Vernon H.","Burlison, Bill D.",0.4604,False,False,29,NaN,NaN,None,None,NaN,1968,NaN,NaN,NaN,NaN,NaN,NaN
9688,Oregon,4,"Dellenback, John R.","Fadeley, Edward N.",0.5893,True,False,41,NaN,NaN,None,None,NaN,1968,NaN,NaN,NaN,NaN,NaN,NaN
9689,Oregon,3,"Warren, Douglas S.","Green, Edith",0.3015,False,True,41,NaN,NaN,None,None,NaN,1968,NaN,NaN,NaN,NaN,NaN,NaN
9690,Oregon,1,"Wyatt, Wendell","Baggs, Thomas M.",0.8061,True,False,41,NaN,NaN,None,None,NaN,1968,NaN,NaN,NaN,NaN,NaN,NaN
9691,Nebraska,1,"Denney, Robert V.","Callan, Clair A.",0.5549,True,False,31,NaN,NaN,None,None,NaN,1968,NaN,NaN,NaN,NaN,NaN,NaN
9692,Colorado,4,"Anderson, Fred E.","Aspinall, Wayne N.",0.4531,False,True,8,NaN,NaN,None,None,NaN,1968,NaN,NaN,NaN,NaN,NaN,NaN
9693,Colorado,3,"Bradley, Paul","Evans, Frank E.",0.4788,False,True,8,NaN,NaN,None,None,NaN,1968,NaN,NaN,NaN,NaN,NaN,NaN
9694,Colorado,2,"Brotzman, Donald G.","McVicker, Roy H.",0.6285,True,False,8,NaN,NaN,None,None,NaN,1968,NaN,NaN,NaN,NaN,NaN,NaN
9695,Colorado,1,"Kemp, Frank A.","Rogers, Byron G.",0.4755,False,True,8,NaN,NaN,None,None,NaN,1968,NaN,NaN,NaN,NaN,NaN,NaN
9696,Montana,1,"Smiley, Richard","Olsen, Arnold",0.4638,False,True,30,NaN,NaN,None,None,NaN,1968,NaN,NaN,NaN,NaN,NaN,NaN
9697,Montana,2,"Battin, James F.","Kelleher, Bob",0.6785,True,False,30,NaN,NaN,None,None,NaN,1968,NaN,NaN,NaN,NaN,NaN,NaN
9698,Wyoming,0,"Wold, John S.","Linford, Velma",0.6274,False,False,56,NaN,NaN,None,None,NaN,1968,NaN,NaN,NaN,NaN,NaN,NaN

In [49]:
# 13: Special elections <- only 43 data points... too sparse
df13 = pd.read_csv('data/13_Benedict Brady_Special_Elections_Feature.csv')
df13['District'][35] = 'Montana 0'
vs = [re.split(r'(\d+)', str(s))[:-1] for s in list(df13['District'])] 
df13['state_fips'] = [us.states.lookup(x[0][:-1]).fips for x in vs]
df13['district'] = [int(x[1]) for x in vs]
df13

/Users/joonyang/code/.virtualenvs/orca/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,District,Congress,Date,Predecessor,Predecessor Party,Winner,Winner Party,Winner Vote Share,Runner Up Vote Share,state_fips,district
0,Florida 19,2010,13-Apr-10,Robert Wexler,D,Ted Deutch,D,62.1,35.1,12,19
1,Pennsylvania 12,2010,18-May-10,John Murtha,D,Mark Critz,D,52.6,45.1,42,12
2,Hawaii 1,2010,22-May-10,Neil Abercrombie,D,Charles Djou,R,39.4,30.8,15,1
3,Georgia 9,2010,8-Jun-10,Nathan Deal,R,Tom Graves,R,56.5,43.5,13,9
4,Indiana 3,2010,2-Nov-10,Mark Souder,R,Marlin Stutzman,R,63.0,33.0,18,3
5,New York 29,2010,2-Nov-10,Eric Massa,D,Tom Reed,R,56.0,44.0,36,29
6,New York 26,2012,24-May-11,Chris Lee,R,Kathy Hochul,D,47.2,43.2,36,26
7,California 36,2012,12-Jul-11,Jane Harman,D,Janice Hahn,D,54.9,45.1,06,36
8,Nevada 2,2012,13-Sep-11,Dean Heller,R,Mark Amodei,R,58.0,36.0,32,2
9,New York 9,2012,13-Sep-11,Anthony Weiner,D,Bob Turner,R,51.7,46.6,36,9
10,Oregon 1,2012,31-Jan-12,David Wu,D,Suzanne Bonamici,D,53.8,39.6,41,1
11,Arizona 8,2012,12-Jun-12,Gabby Giffords,D,Ron Barber,D,52.2,45.3,04,8
12,Kentucky 4,2012,6-Nov-12,Geoff Davis,R,Thomas Massie,R,62.1,35.0,21,4
13,Michigan 11,2012,6-Nov-12,Thad McCotter,R,David Curson,D,48.4,46.1,26,11
14,New Jersey 10,2012,6-Nov-12,Donald M. Payne,D,Donald Payne Jr.,D,97.4,2.6,34,10
15,Washington 1,2012,6-Nov-12,Jay Inslee,D,Suzan DelBene,D,53.9,46.1,53,1
16,Illinois 2,2014,9-Apr-13,Jesse Jackson Jr.,D,Robin Kelly,D,70.8,22.0,17,2
17,South Carolina 1,2014,7-May-13,Tim Scott,R,Mark Sanford,R,54.0,45.2,45,1
18,Missouri 8,2014,4-Jun-13,Jo Ann Emerson,R,Jason Smith,R,67.1,27.4,29,8
19,Louisiana 5,2014,16-Nov-13,Rodney Alexander,R,Vance McAllister,R,59.7,40.4,22,5
20,Massachusetts 5,2014,10-Dec-13,Edward Markey,D,Katherine Clark,D,66.0,32.0,25,5
21,Alabama 1,2014,17-Dec-13,Jo Bonner,R,Bradley Byrne,R,71.0,29.0,01,1
22,Florida 13,2014,11-Mar-14,Bill Young,R,David Jolly,R,48.4,46.6,12,13
23,Florida 19,2014,24-Jun-14,Trey Radel,R,Curt Clawson,R,67.0,29.3,12,19
24,North Carolina 12,2014,4-Nov-14,Mel Watt,D,Alma Adams,D,75.4,24.6,37,12
25,New Jersey 1,2014,4-Nov-14,Rob Andrews,D,Donald Norcross,D,72.1,15.0,34,1
26,Virginia 7,2014,4-Nov-14,Eric Cantor,R,David Brat,R,51.2,45.5,51,7
27,New York 11,2016,5-May-15,Michael Grimm,R,Daniel M. Donovan Jr.,R,58.7,39.4,36,11
28,Mississippi 1,2016,12-May-15,Alan Nunnelee,R,Trent Kelly,R,70.1,29.9,28,1
29,Illinois 18,2016,10-Sep-15,Aaron Schock,R,Darin LaHood,R,68.8,31.1,17,18
30,Ohio 8,2016,7-Jun-16,John Boehner,R,Warren Davidson,R,76.8,21.1,39,8
31,Pennsylvania 2,2016,8-Nov-16,Chaka Fattah,D,Dwight Evans,D,42.3,34.4,42,2
32,Hawaii 1,2016,8-Nov-16,Mark Takai,D,Colleen Hanabusa,D,60.5,20.7,15,1
33,Kentucky 1,2016,8-Nov-16,Ed Whitfield,R,James Comer,R,60.6,23.3,21,1
34,Kansas 4,2018,11-Apr-17,Mike Pompeo,R,Ron Estes,R,52.2,46.0,20,4
35,Montana 0,2018,25-May-17,Ryan Zinke,R,Greg Gianforte,R,49.7,44.1,30,0
36,California 34,2018,6-Jun-17,Xavier Becerra,D,Jimmy Gomez,D,60.1,39.9,06,34
37,Georgia 6,2018,20-Jun-17,Tom Price,R,Karen Handel,R,51.8,48.2,13,6
38,South Carolina 5,2018,20-Jun-17,Mick Mulvaney,R,Ralph Norman,R,51.0,47.9,45,5
39,Utah 3,2018,7-Nov-17,Jason Chaffetz,R,John Curtis,R,58.0,25.6,49,3
40,Pennsylvania 18,2018,13-Mar-18,Tim Murphy,R,Conor Lamb,D,49.9,49.6,42,18
41,Arizona 8,2018,24-Apr-18,Trent Franks,R,Debbie Lesko,R,52.4,47.6,04,8
42,Texas 27,2018,30-Jun-18,Blake Farenthold,R,Michael Cloud,R,54.7,32.0,48,27
43,Ohio 12,2018,7-Aug-18,Pat Tiberi,R,Troy Balderson,R,50.1,49.3,39,12

In [246]:
df6.columns = ['state_fips', 'district', 'year', 'dem_lastname', 'dem_is_female']

In [339]:
kevin = feather.read_dataframe('data/kevin_joint.feather')
kevin['year'] = kevin['raceyear'].apply(int)
kevin['district'] = kevin['district'].apply(int)
kevin = kevin.drop(columns='raceyear')

In [340]:
dem_first, dem_last = [], []
rep_first, rep_last = [], []
dem_uncontested, rep_uncontested = [], []
for i, row in kevin.iterrows():
    if row['demcandidate']:
        dem_name = HumanName(str(row['demcandidate']))
        if len(dem_name['first']) < 3:
            dem_first.append(dem_name['middle'])
        else:
            dem_first.append(dem_name['first'])
        dem_last.append(dem_name['last'])
        rep_uncontested.append(False)
    else:
        dem_first.append(np.nan)
        dem_last.append(np.nan)
        rep_uncontested.append(True)
    if row['repcandidate']:
        rep_name = HumanName(str(row['repcandidate']))    
        if len(rep_name['first']) < 3:
            rep_first.append(rep_name['middle'])
        else: 
            rep_first.append(rep_name['first'])
        rep_last.append(rep_name['last'])
        dem_uncontested.append(False)
    else:
        rep_first.append(np.nan)
        rep_last.append(np.nan)
        dem_uncontested.append(True)
kevin['dem_firstname'] = dem_first
kevin['dem_lastname'] = dem_last
kevin['rep_firstname'] = rep_first
kevin['rep_lastname'] = rep_last
kevin['dem_uncontested'] = dem_uncontested
kevin['rep_uncontested'] = rep_uncontested
kevin = kevin.drop(columns=['demcandidate', 'repcandidate'])

In [342]:
# dem
kevin = kevin.merge(df6, on=['state_fips', 'district', 'year', 'dem_lastname'], how='left')

In [343]:
df6.columns = ['state_fips', 'district', 'year', 'rep_lastname', 'rep_is_female']

In [344]:
# rep
kevin = kevin.merge(df6, on=['state_fips', 'district', 'year', 'rep_lastname'], how='left')

In [345]:
kevin

,state,district,rep_score,rep_incumbent,dem_incumbent,state_fips,minority_percentage,pres_approval,same_as_pres_party_rep,same_as_pres_party_dem,...,fivethirtyeight_district,year,dem_firstname,dem_lastname,rep_firstname,rep_lastname,dem_uncontested,rep_uncontested,dem_is_female,rep_is_female
0,Alabama,2,0.5462,True,False,1,0.36979,0.40,False,True,...,None,2016,Nathan,Mathis,Martha,Roby,False,False,NaN,False
1,Kansas,4,0.6720,True,False,20,0.17527,0.40,False,True,...,None,2016,Daniel,Giroux,Mike,Pompeo,False,False,NaN,False
2,California,5,0.2313,False,True,6,0.37847,0.60,False,True,...,None,2016,Mike,Thompson,Carlos,Santamaria,False,False,NaN,NaN
3,California,4,0.6272,True,False,6,0.15606,0.60,False,True,...,None,2016,Robert,Derlet,Tom,McClintock,False,False,NaN,False
4,California,3,0.4065,False,True,6,0.33472,0.60,False,True,...,None,2016,John,Garamendi,Eugene,Cleek,False,False,NaN,NaN
5,California,2,0.2315,False,True,6,0.20327,0.60,False,True,...,None,2016,Jared,Huffman,Dale,Mensing,False,False,NaN,NaN
6,California,1,0.5905,True,False,6,0.12946,NaN,None,True,...,None,2016,Jim,Reed,Doug,LaMalfa,False,False,NaN,NaN
7,New Hampshire,1,0.4923,True,False,33,0.06590,0.46,False,True,...,None,2016,Carol,Shea-Porter,Frank,Guinta,False,False,False,False
8,New Hampshire,2,0.4767,False,True,33,0.06542,0.46,False,True,...,None,2016,Ann,Kuster,James,Lawrence,False,False,False,NaN
9,Kentucky,6,0.6109,True,False,21,0.15217,0.36,False,True,...,None,2016,Nancy,Kemper,Garland,Barr,False,False,NaN,False
10,Kentucky,4,0.7132,True,False,21,0.08070,0.36,False,True,...,None,2016,Calvin,Sidle,Thomas,Massie,False,False,NaN,NaN
11,Kentucky,3,0.3650,False,True,21,0.28353,0.36,False,True,...,None,2016,John,Yarmuth,Harold,Bratcher,False,False,False,NaN
12,Kentucky,1,0.7264,False,False,21,0.10874,0.36,False,True,...,None,2016,Sam,Gaskins,James,Comer,False,False,NaN,NaN
13,New Jersey,1,0.3802,False,True,34,0.32151,0.55,False,True,...,None,2016,Donald,Norcross,Bob,Patterson,False,False,NaN,NaN
14,California,7,0.4883,False,True,6,0.36912,0.60,False,True,...,None,2016,Ami,Bera,Scott,Jones,False,False,NaN,NaN
15,New Jersey,2,0.6140,True,False,34,0.24616,0.55,False,True,...,None,2016,David,Cole,Frank,LoBiondo,False,False,NaN,False
16,New Jersey,3,0.6041,True,False,34,0.20325,0.55,False,None,...,None,2016,Frederick,Lavergne,Tom,MacArthur,False,False,NaN,NaN
17,New Jersey,4,0.6553,True,False,34,0.15310,0.55,False,True,...,None,2016,Lorna,Phillipson,Christopher,Smith,False,False,NaN,False
18,New Jersey,5,0.4774,True,False,34,0.20487,0.55,False,True,...,None,2016,Joshua,Gottheimer,Scott,Garrett,False,False,NaN,False
19,New Jersey,6,0.3538,False,True,34,0.36267,0.55,False,True,...,None,2016,Frank,Pallone,Brent,Sonnek-Schmelz,False,False,False,NaN
20,New Jersey,7,0.5564,True,False,34,0.21178,0.55,False,True,...,None,2016,Peter,Jacob,Leonard,Lance,False,False,NaN,False
21,New Jersey,8,0.1936,False,True,34,0.42608,0.55,False,True,...,None,2016,Albio,Sires,Agha,Khan,False,False,NaN,NaN
22,New Jersey,9,0.2867,False,True,34,0.37801,0.55,False,True,...,None,2016,William,Pascrell,Hector,Castillo,False,False,NaN,NaN
23,New Jersey,10,0.1217,False,True,34,0.70983,0.55,False,None,...,None,2016,Donald,Payne,David,Pinckney,False,False,False,NaN
24,New Jersey,11,0.5988,True,False,34,0.18036,0.55,False,True,...,None,2016,Joseph,Wenzel,Rodney,Frelinghuysen,False,False,NaN,False
25,New Jersey,12,0.3375,False,True,34,0.40598,0.55,False,True,...,None,2016,Bonnie,Coleman,Steven,Uccio,False,False,NaN,NaN
26,California,6,0.2457,False,True,6,0.47646,0.60,False,True,...,None,2016,Doris,Matsui,Robert,Evans,False,False,NaN,NaN
27,California,8,0.6226,True,False,6,0.24169,0.60,False,True,...,None,2016,Rita,Ramirez,Paul,Cook,False,False,NaN,NaN
28,New Mexico,3,0.3758,False,True,35,0.34684,0.49,False,True,...,None,2016,Ben,Lujan,Michael,Romero,False,False,False,NaN
29,California,24,0.4658,False,False,6,0.20405,0.60,False,True,...,None,2016,Salud,Carbajal,Justin,Fareed,False,False,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9796,Virginia,5,NaN,False,False,51,0.25468,0.50,True,False,...,5,2018,Leslie,Cockburn,Denver,Riggleman,False,False,NaN,NaN
9797,Virginia,4,NaN,False,True,51,0.47823,0.50,True,False,...,4,2018,Donald,McEachin,Ryan,McAdams,False,False,NaN,NaN
9798,Virginia,3,NaN,False,True,51,0.54879,0.50,True,False,...,3,2018,Robert,Scott,NaN,NaN,True,False,False,NaN
9799,Virginia,2,NaN,True,False,51,0.32787,0.50,True,False,...,2,2018,Elaine,Luria,Scott,Taylor,False,False,NaN,NaN
9800,Virginia,11,NaN,False,True,51,0.43612,0.50,True,False,...,11,2018,Gerald,Connolly,Jeff,Dove,False,False,False,NaN
9801,Virginia,10,NaN,True,False,51,0.28059,0.50,True,False,...,10,2018,Jennifer,Wexton,Barbara,Comstock,False,False,NaN,NaN
9802,Virginia,1,NaN,True,False,51,0.27989,0.50,True,False,...,1,2018,Vangie,Williams,Robert,Wittman,False,False,NaN,False
9803,Vermont,0,NaN,False,True,50,0.05638,0.63,True,False,...,1,2018,Peter,Welch,Anya,Tynio,False,False,False,NaN
9804,Washington,9,NaN,False,True,53,0.49466,0.61,True,False,...,9,2018,Sarah,Smith,NaN,NaN,True,False,False,NaN
9805,Washington,8,NaN,False,False,53,0.21720,0.61,True,False,...,8,2018,Kim,Schrier,Dino,Rossi,False,False,NaN,NaN
9806,Washington,7,NaN,False,True,53,0.27166,0.61,True,False,...,7,2018,Pramila,Jayapal,Craig,Keller,False,False,NaN,NaN
9807,Washington,6,NaN,False,True,53,0.19742,0.61,True,False,...,6,2018,Derek,Kilmer,Douglas,Dightman,False,False,NaN,NaN
9808,Washington,5,NaN,True,False,53,0.12673,0.61,True,False,...,5,2018,Lisa,Brown,Cathy,Rodgers,False,False,NaN,False
9809,Washington,4,NaN,True,False,53,0.25973,0.61,True,False,...,4,2018,Christine,Brown,Dan,Newhouse,False,False,NaN,NaN
9810,Washington,3,NaN,True,False,53,0.13564,0.61,True,False,...,3,2018,Carolyn,Long,Jaime,Beutler,False,False,NaN,NaN
9811,Washington,2,NaN,False,True,53,0.23506,0.61,True,False,...,2,2018,Rick,Larsen,NaN,NaN,True,False,False,NaN
9812,Washington,10,NaN,False,True,53,0.26742,0.61,True,False,...,10,2018,Denny,Heck,Joseph,Brumbles,False,False,NaN,NaN
9813,Washington,1,NaN,False,True,53,0.21455,0.61,True,False,...,1,2018,Suzan,DelBene,Jeffrey,Beeler,False,False,NaN,NaN
9814,Wisconsin,8,NaN,True,False,55,0.10422,0.56,True,False,...,8,2018,Beau,Liegeois,Mike,Gallagher,False,False,NaN,NaN
9815,Wisconsin,7,NaN,True,False,55,0.06601,0.56,True,False,...,7,2018,Margaret,Engebretson,Sean,Duffy,False,False,NaN,False
9816,Wisconsin,6,NaN,True,False,55,0.07195,0.56,True,False,...,6,2018,Dan,Kohl,Glenn,Grothman,False,False,NaN,NaN
9817,Wisconsin,5,NaN,True,False,55,0.08459,0.56,True,False,...,5,2018,Tom,Palzewicz,James,Sensenbrenner,False,False,NaN,False
9818,Wisconsin,4,NaN,False,True,55,0.49707,0.56,True,False,...,4,2018,Gwen,Moore,Tim,Rogers,False,False,False,NaN
9819,Wisconsin,3,NaN,False,True,55,0.06477,0.56,True,False,...,3,2018,Ron,Kind,Steve,Toft,False,False,False,NaN
9820,Wisconsin,2,NaN,False,True,55,0.14327,0.56,True,False,...,2,2018,Mark,Pocan,NaN,NaN,True,False,NaN,NaN
9821,Wisconsin,1,NaN,False,False,55,0.12890,0.56,True,False,...,1,2018,Randy,Bryce,Bryan,Steil,False,False,NaN,NaN
9822,West Virginia,3,NaN,False,False,54,0.06457,0.33,True,False,...,3,2018,Richard,Ojeda,Carol,Miller,False,False,NaN,NaN
9823,West Virginia,2,NaN,True,False,54,0.08572,0.33,True,False,...,2,2018,Talley,Sergent,Alex,Mooney,False,False,NaN,NaN
9824,West Virginia,1,NaN,True,False,54,0.05727,0.33,True,False,...,1,2018,Kendra,Fershee,David,McKinley,False,False,NaN,False
9825,Wyoming,0,NaN,True,False,56,0.07973,0.34,True,False,...,1,2018,Greg,Hunter,Liz,Cheney,False,False,NaN,NaN

In [296]:
detector = d.Detector()

In [346]:
dem_is_female, rep_is_female = [], []
c = 0
for i, row in kevin.iterrows():
    dverdict = detector.get_gender(row['dem_firstname'])
    if 'female' in dverdict:
        c += 1
        dem_is_female.append(1)
    elif 'male' in dverdict:
        dem_is_female.append(0)
    else:
        dem_is_female.append(0.5)
    rverdict = detector.get_gender(row['rep_firstname'])
    if 'female' in rverdict:
        c += 1
        rep_is_female.append(1)
    elif 'male' in rverdict:
        rep_is_female.append(0)
    else:
        rep_is_female.append(0.5)
print(c/len(kevin))

0.24852432322409934

In [348]:
kevin['dem_is_female'] = dem_is_female
kevin['rep_is_female'] = rep_is_female

In [354]:
kevin.T

,0,1,2,3,4,5,6,7,8,9,...,9816,9817,9818,9819,9820,9821,9822,9823,9824,9825
state,Alabama,Kansas,California,California,California,California,California,New Hampshire,New Hampshire,Kentucky,...,Wisconsin,Wisconsin,Wisconsin,Wisconsin,Wisconsin,Wisconsin,West Virginia,West Virginia,West Virginia,Wyoming
district,2,4,5,4,3,2,1,1,2,6,...,6,5,4,3,2,1,3,2,1,0
rep_score,0.5462,0.672,0.2313,0.6272,0.4065,0.2315,0.5905,0.4923,0.4767,0.6109,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
rep_incumbent,True,True,False,True,False,False,True,True,False,True,...,True,True,False,False,False,False,False,True,True,True
dem_incumbent,False,False,True,False,True,True,False,False,True,False,...,False,False,True,True,True,False,False,False,False,False
state_fips,1,20,6,6,6,6,6,33,33,21,...,55,55,55,55,55,55,54,54,54,56
minority_percentage,0.36979,0.17527,0.37847,0.15606,0.33472,0.20327,0.12946,0.0659,0.06542,0.15217,...,0.07195,0.08459,0.49707,0.06477,0.14327,0.1289,0.06457,0.08572,0.05727,0.07973
pres_approval,0.4,0.4,0.6,0.6,0.6,0.6,NaN,0.46,0.46,0.36,...,0.56,0.56,0.56,0.56,0.56,0.56,0.33,0.33,0.33,0.34
same_as_pres_party_rep,False,False,False,False,False,False,None,False,False,False,...,True,True,True,True,True,True,True,True,True,True
same_as_pres_party_dem,True,True,True,True,True,True,True,True,True,True,...,False,False,False,False,False,False,False,False,False,False
log_med_income,10.6463,10.86,11.1983,11.2128,11.0269,11.1065,10.7682,11.1743,11.1637,10.8329,...,10.9531,11.1296,10.641,10.862,11.0912,11.0282,10.5382,10.7864,10.7279,11.0001
percent_bachelor_or_above,0.218,0.282,0.304,0.322,0.245,0.4,0.232,0.361,0.348,0.303,...,0.252,0.357,0.271,0.243,0.402,0.273,0.156,0.212,0.218,0.26
fivethirtyeight_district,None,None,None,None,None,None,None,None,None,None,...,6,5,4,3,2,1,3,2,1,1
year,2016,2016,2016,2016,2016,2016,2016,2016,2016,2016,...,2018,2018,2018,2018,2018,2018,2018,2018,2018,2018
dem_firstname,Nathan,Daniel,Mike,Robert,John,Jared,Jim,Carol,Ann,Nancy,...,Dan,Tom,Gwen,Ron,Mark,Randy,Richard,Talley,Kendra,Greg
dem_lastname,Mathis,Giroux,Thompson,Derlet,Garamendi,Huffman,Reed,Shea-Porter,Kuster,Kemper,...,Kohl,Palzewicz,Moore,Kind,Pocan,Bryce,Ojeda,Sergent,Fershee,Hunter
rep_firstname,Martha,Mike,Carlos,Tom,Eugene,Dale,Doug,Frank,James,Garland,...,Glenn,James,Tim,Steve,NaN,Bryan,Carol,Alex,David,Liz
rep_lastname,Roby,Pompeo,Santamaria,McClintock,Cleek,Mensing,LaMalfa,Guinta,Lawrence,Barr,...,Grothman,Sensenbrenner,Rogers,Toft,NaN,Steil,Miller,Mooney,McKinley,Cheney
dem_uncontested,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
rep_uncontested,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
dem_is_female,0,0,0,0,0,0,0,1,1,1,...,0,0,1,0,0,0,0,0.5,1,0
rep_is_female,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0.5,0,1,0,0,1